.procat{
    border: 1px olid;
    height: auto;
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);
    
    margin-top: 150px;
    margin-bottom: 150px;
    
}
.prcon{
    width: 100%;
    border: 1px olid;
    position: relative;
    overflow: hidden;
   /* height: 500px;*/
}
.prcon h1,.prcon p{
    margin: 0 5px;
}
.bcktxt:before{
    content: "Product";
    position: absolute;
    font-size: 120px;
    color: #888c8e1c;
    
}
.prtit{
    font-size: 20px;
    color:#ddd;
   
}
.primg{
    background-image:url(images/capital%20bg.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: left;
 width: 125%;
}
.prodimgcon{
    width: 400px;
    height: 400px;
    border: 1px olid;
 /* margin: auto;*/
    position: relative;
    top: 50px;
}

.prodimg{
    
    background-image:url(images/prod13.png);
     background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
     
    width: 70%;
   background-position: 0px;
    animation: anima 1s;
    transition: 0.7s;
}

@keyframes anima{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }

    .prodimg1{
         background-image:url(images/prod13.png)!important;
    }
    .prodimg2{
         background-image:url(images/prod2.png) !important;
    }
    .prodimg3{
         background-image:url(images/prod3.png) !important;
    }
    
    .holdimg{
        position: absolute;
    z-index: 1;
    flex-direction: row;
    border: 1px olid;
    transform: translateY(50%);
    left: 8px;
    top: -20px;
    margin: auto;
    width: 100%;
    }

    .holdimg img{
        width: 50px;
        border: 3px solid #fcfcfc;
        border-radius: 50%;
        padding: 10px;
      /*  background: #fcfcfc;*/
        margin: 5px;
        cursor: pointer;
    }

    
@media(min-width:400px){
    .prodimg{
    
        background: url(images/prod13.png) no-repeat;
    background-repeat: no-repeat;
    height: 220px;
    background-size: contain;
    width: 220px;
    background-position: 0px;
    border: 1px olid;
    position: absolute;
    transform: translate(-50%,50%);
    left: 50%;
}
  /*  .prcon{height: 500px;}*/
}

@media(min-width:500px){
    /*.prodimg{
         background-position: 20px;
    }*/
    
}
@media(min-width:600px){
    /*.prodimg{
         background-position: 50px;
    }*/
}
@media(min-width:700px){
    /*.prodimg{
         background-position: 80px;
    }*/
}
@media(min-width:800px){
    .primg {
    background-image: url(images/capital%20bg.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: left;
    position: absolute;
    left: -90px;
}
    .prcon{
    width: 90%;
    }
}

@media(min-width:800px){
.procat{
    border: 1px olid;
    height: 500px;
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
   box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
}
.prcon{
    width: 50%;
    border: 1px olid;
    position: relative;
    overflow: hidden;
}
.bcktxt:before{
    content: "Charcoal";
    position: absolute;
    font-size: 120px;
    color: #888c8e1c;
    
}
.prtit{
    font-size: 30px;
    color:#454545;
    
}
.primg{
    background-image:url(images/capital%20bg.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: left;
    width: 130%;
}
.prodimgcon{
    width: 400px;
    height: 400px;
    border: 1px olid;
  margin: auto;
    position: relative;
    top: 50px;
}
.prodimg{
    
    background-image:url(images/prod13.png);
     background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
      /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);*/
    width: 100%;
    background-position: 0px;
    transition: 0.7s;
    animation: anima 1s;
    position: absolute;
    transform:unset;
    position: static;
    left: 0%;
}
    @keyframes anima{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    .prodimg1{
         background-image:url(images/prod13.png);
    }
    .prodimg2{
         background-image:url(images/prod2.png);
    }
    .prodimg3{
         background-image:url(images/prod3.png);
    }
    
    .holdimg{
       position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
   /* border: 1px solid #007ab9;*/
    /* padding: 20px; */
    transform: translateY(50%);
    left: 0px;
    /*background: #007ab9;*/
   /* box-shadow: 0 0 10px #0003;*/
    top: 0;
    width: unset;
        padding-left: 20px;
    }
    .holdimg img{
        width: 50px;
        border: 1px solid #fcfcfc;
        border-radius: 50%;
        padding: 10px;
       /* background: #fcfcfc;*/
        margin: 5px;
        cursor: pointer;
    }
    .prtx{
        padding: 100px 0px;
    }
    }

@media(min-width:900px){
    .primg {
    background-image: url(images/capital%20bg.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: left;
    position: absolute;
    left: -40px;
        width: 118%;
}
}