/*fst-ban*/
.fst-ban{
    background: url(images/busban.jpg) no-repeat;
    background-size:cover;
    height: auto;
    margin-bottom: 40px;
    padding: 6vh 10px;
    position: relative
}
.fst-ban::before{
    background: #fcfcfc;
}
.fst-ban::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .5;
    width: 100%;
    height:auto;
}
.fst-tit h1{
    color: #454545;
    position: relative;
}
.fst-pra{
    color: #454545;
    position: relative;
}
.fst-txtcon{
    border-left:5px solid #d01818;
    position: relative;
    padding:10px;
}

@media(min-width:500px){
    .fst-ban{
    background-size:100%;
    }
    .fst-pra{
    width: 300px;
}
    
}
@media(min-width:700px){
    .fst-ban{
        height: 250px;
        padding: 50px 20px;
    }
}
@media(min-width:1000px){
    .fst-ban{
        height: 320px;
        padding: 40px 50px;
        background-position:50% 80%;
    }
    .fst-pra{
    width: 400px;
    }
    .fst-txtcon{
        margin: 80px 0;
    }
}
/*fst-ban*/
/*splt-img*/
.splt-con{border: 1px solid white;margin: auto;
    background-color: #454545;
    margin: 30px 0;
    position: relative;
}
.splt-tit h1{
    color: #fcfcfc;
    text-align: center;
    width: 200px;
    margin: auto;
    padding: 10px 0
}
.splt-para{
    color: #fcfcfc;
    padding: 5px;
    text-align: center;
}
.ver-bar1{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -20px; 
        left: 10px;
    }
.splt-imgcon{
    width: 200px;
    margin: auto;
}
.splt-imgcon img{
    width: 100%;
    box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);
    vertical-align: middle;
}
.splt-ul{
    padding: 10px;
}
.lst-bckimg img{
    width: 30px;
}
.lst-bckimg{
    display: flex;
   
    
}
.lst-bckimg p{
    color: #fcfcfc;
    position: relative;
    left: 5px
}

@media(min-width:600px){
    .splt-inn-con{
        display: flex;
        flex-direction: row;
        padding: 50px 30px;
    }
    .splt-imgcon{
    margin: 0;
}
    .splt-txtcon{
        width: 250px;
        
    }
    .splt-tit h1{
    color: #fcfcfc;
    text-align: left;
   /* width:200px;*/
   margin: 0;
    
}
.splt-para{
    color: #fcfcfc;
    text-align: left;
   /* width: 250px;*/
}
    .ver-bar1{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -25px; 
        left: 30px;
    }
    .splt-imgcon{
    width: 500px;
        /*border: 1px solid red;*/
        position: relative;
}
}
@media(min-width:800px){
    .splt-inn-con{
        display: flex;
        flex-direction: row;
        padding: 50px 100px;
        justify-content: space-between;
        /*border: 1px solid white;*/
    }
    .ver-bar1{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -25px; 
        left: 100px;
    }
    .lst-bckimg p{
    color: #fcfcfc;
    position: relative;
    left: 5px;
        width: 400px
}
    .lst-bckimg img{
        width: 30px;
    }
}
@media(min-width:1200px){
    .splt-inn-con{
        display: flex;
        flex-direction: row;
        padding: 50px 150px;
        justify-content: space-between;
        
    }
    .ver-bar1{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -25px; 
        left: 150px;
    }
    }
@media(min-width:1300px){
    .splt-inn-con{
        display: flex;
        flex-direction: row;
        padding: 50px 200px;
        justify-content: space-between;
       
    }
    .ver-bar1{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -25px; 
        left: 200px;
    }
    .splt-ul{
        padding: 0px 200px;
    }
    }
/*splt-img*/
/*frm-grp*/
.marks-div{
    width: 50%;
    
}
.grad{width: 50% }
.back-blu{
    background: rgb(38,137,201);
    height: auto;
    padding: 10px;
}
.form-container{
    background: rgb(246,247,249);
    height: auto;
    border-radius:10px;
}
.frm-hd{
    padding: 10px 10px;
}
.frm-hd h4{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
.frm-con{
    display:flex;
    flex-direction: column;
    
}
 form input{
     width: 100%;
}
.frm{
    /*border: 1px solid;*/
    display: flex;
  /* justify-content: center;
    align-items: center;*/
    padding: 20px;
}
.usernme{
    padding: 20px;
    border-radius: 5px;
    border-image:unset;
    border-width:0;
    border: 1px solid #ddd;
    transition: transform 1s;
}
 select{
       padding: 20px;
        border-radius: 5px;
        border-color: #ddd;
        width: 100%
    }

.usernme::-webkit-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-moz-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-o-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-ms-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 5px;
    border: none;
    /*border-radius: 5px;*/
}
input:focus::-webkit-input-placeholder {
  transform: translateY(-130%);
  font-size: 14px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('images/calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
   padding: 0;
    margin: 0;
    
}
.submit{
        width: 50%;
        padding: 10px ;
        border-radius: 10px;
        border-color:rgb(38,137,201);
        background-color:rgb(38,137,201);
        color: #fcfcfc;
    border-width: 0;
    }
.ares{
    padding: 20px;
}



/*footer*/
.footer{
    margin: 10px auto;
     /*background: rgb(246,247,249);*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}
.txt-1{
    text-align: center;
    font-size: 10px;
}
/*footer*/
/*frmback*/
@media only screen and (min-width:600px){
   

    
    
    
    .frm-con{
    display:flex;
    flex-direction: row;
}
 form input{
     width: 100%
}
.frm{
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
   
    padding:10px 20px;
    width: 100%;
}
     select{
       padding: 20px;
        border-radius: 5px;
        border-color: #ddd;
        width: 100%;
    }
    .form-container{
        padding: 20px 10px;
    }
    .back-blu{
        padding: 50px 20px;
    }
    .frm1{
       display: flex !important;
    flex-direction: column !important;
      width: 95%;
        margin: 0px;
        position: relative;
    }
    .check{
        position: absolute;
        border: 1px solid;
    }
    .footer{
    margin: 10px auto;
    /*padding: 10px;*/
  /*background: rgb(246,247,249);*/
    height: auto;
    display: flex;
    flex-direction: row;
        justify-content: space-around;
}
    .frm-btn{
        display: flex;
        justify-content: flex-end;
        
    }
    .submit{
        width: 35%;    max-width: 200px;    padding: 15px 20px;    font-size: 20px;    text-transform: uppercase;    border-radius: 5px;
    }
    .frm-tr{
        display: flex;
        width: %;
        justify-content:space-between;
    }
    .frm-tr input{
        width: 90%;
    }
    .frm-tr .p-txt{
        padding:0 50px;
    }
    .out-con{
        display: flex;
        
    }
    
}
@media only screen and (min-width:1000px){
    .form-container{
        padding: 20px 0px;
    }
    .back-blu{
        padding: 50px 100px;
    }
    .frm1{
        display: flex !important;
    flex-direction: column !important;
      width: 94%;
        margin: 0px
        position: relative;
    }
   
}
 @media only screen and (min-width:1200px){
    .form-container{
        padding: 20px 100px;
    }
    .back-blu{
        padding: 50px 250px;
    }
}




/* Removes the clear button from date inputs */
/*input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="time"]::-webkit-clear-button {
    display: none;
}*/

/* Removes the spin button */
/*input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="time"]::-webkit-inner-spin-button { 
    font-size: 20px; padding-top: 20px;padding-right: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    color: #8D99AE;
}*/


/* start: date of birth */
   #clet1,#clet21,#clet2,#clet22, #clet3,#clet23,#clet24{ font-size: 100%; width: 70%; margin: 10px 0px; margin-left: 55px;}
#cletf1, #cletf2, #cletf3{display: flex; justify-content: center; align-items: center; width:93%; margin: auto;margin: 20px;}
#clet21, #clet22, #clet23,#clet24 {display: flex; justify-content: center; align-items: center; width: 100%; margin-left: 10px; margin: 0px 20px;margin-left:0;  }

#clet21 input, #clet22 input,#clet24 input,#clet23 input { width: 95%; height: 50px;  padding-left: 40px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); font-size: 100%; color: #2B2D42;
transition: width 0.3s, box-shadow 0.3s;
}
#cletf1 input, #cletf2 input, #cletf3 input, #cletf5 textarea,#cletf2 select{ width: 100%; height: auto; padding: 20px 0px; padding-left: 10px;  border-style: none; border-radius: 5px; background-repeat: no-repeat; background-position: 3px ;border:1px solid #ddd; font-size: 18px; color: #2B2D42;
transition: width 0.3s, box-shadow 0.3s;
}


.frm_textarea{padding:0 0 0 20px;}.frm_textarea textarea{border-radius:5px;border:1px solid #ddd;width:100%;}.cnfr{padding-left:35px;position:relative;}.cnfr .checkmark{left:0;top:-2px;}.grad p{padding-top:10px;}.ram-con{padding-left:20px;padding-top:20px;min-width:135px;}.ram-con label{top:-6px;position:relative;margin-left:2px;margin-right:10px;}input.error{border:1px solid red;}label.error{display:none !important;}
@media screen and (min-width:600px){
    #cletf1, #cletf2, #cletf3{display: flex; justify-content: center; align-items: center; width:100%; margin: auto;margin: 0px 20px;}
    
}
@media screen and (max-width:1000px){

    #clet1, #clet2, #clet3{width: 100%;margin: 0px 5px}}


@media screen and (max-width:810px){
      #clet1,#clet21,#clet2,#clet22, #clet3,#clet23,#clet24{ font-size: 100%; width: 100%; margin: 10px 0px; margin-left: 0px;}}

@media screen and (max-width:480px){
    #clet3,#clet23,#clet24{ font-size: 100%; width: 100%; margin: 10px 0px; margin-left: px;}}
/* end: date of birth */


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
    color: #8D99AE;
}

input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}
input[type="date"]{border-radius: 5px;outline: none;}

#want_ex option,#cletf2 select{color: #717171; font-size: 16px;}


/*input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: noe;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}*/

.date_frm{padding-right:0;margin-right:0 !important;}#clet23.date_frm .textbox-n{padding-left:10px;box-shadow:none;border:1px solid #ddd;border-radius:5px;padding:4px 15px;}.frm-btn .submit{cursor:pointer;}.cnfr label.error {    display: block !important;    color: red;    font-size: 11px;}
@media screen and (max-width:639px){	#cletf1, #cletf2, #cletf3,.marks-div{width:auto;}	.frm_textarea{padding:0 20px 0 20px;}	.frm_textarea textarea{box-sizing:border-box;}	.frm.grad{display:block;}	.frm.grad .p-txt br{display:none;}	.ram-con{padding-left:0;}}

/*def*/

.frmgrp-cnt{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.frm-imgcon{
    width: 200px;
}
.frm-imgcon img{
    width: 100%;
    display: none;
}
.hfrm{
    display: none;
}
.frm-tit{
    text-align: center;
}
.sub-mit{
    width: 100px;
    border: none;
    padding: 10px;
    color: #fcfcfc;
    background:#d01818;
    border-radius: 10px;
}
.subcon{
    display: flex;
    justify-content: center;
}
@media(min-width:600px){
    .frmgrp-cnt{
    display: flex;
    flex-direction: row;
        /*border: 1px solid red;*/
        justify-content: space-around;
        background: #ddd;
        position: relative;
        margin: 50px 0px;
        
}
    .frm-contr{
        position: relative;
        left: 0px;
    }
    .frm-imgcon{
        width: 200px;
border: 1px solid;
        background: url(images/handsk.jpg)no-repeat;
        background-size:cover;
        padding: 4vh;
        background-position: 100% 10%;
        position: absolute;
        top:10px;
       transform: scale(1.1);
        height: 600px;
        left: 30px;
        display: none;
    }
    .frm-imgcon img{
    width: 100%;
        
    display: block;
}
    .hfrm{
    visibility: hidden;
}
}
@media(min-width:1200px){
    .frmgrp-cnt{
    display: flex;
    flex-direction: row;
        /*border: 1px solid red;*/
        justify-content: space-around;
        background: #ddd;
        position: relative;
        margin: 50px 0px;
        
}
    .frm-contr{
        position: relative;
        left: 300px;
    }
    .frm-imgcon{
        width: 200px;
border: 1px solid;
        background: url(images/handsk.jpg)no-repeat;
        background-size:cover;
        padding: 4vh;
        background-position: 100% 10%;
        position: absolute;
        top:10px;
       transform: scale(1.1);
        height: 600px;
        left: 200px;
        display: block;
    }
    .frm-imgcon img{
    width: 100%;
        
    display: block;
}
    .hfrm{
    visibility: hidden;
}
}
/*def*/



/*frm-grp*/
	
/*meet with us*/
.cnt-ban{
    background: url(images/busban.jpg) no-repeat;
    background-size:cover;
    height: auto;
    position: relative;
    padding: 30px;
}
.cnt-ban::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: .8;
    width: 100%;
    height: auto;
}
.cnt-ban::before{
    background: #000;
}
.cntxt-con{
    text-align: center;
    position: relative;
}
.cnt-hd h2,.cnt-p{
    color: #fcfcfc;
}
.ver-bar{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -50px; 
        transform: translate(-50%,50%);
        left: 50%;
    }
.cnta-btn{
    border: 1px solid #d01818;
    display: inline-block;
    background: #d01818;
    color: #fcfcfc;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px
}
@media(min-width:500px){
    .cnt-ban{
   
    background-size:100%;
    }
    .cnt-p{
    width: 200px;
    text-align: center;
    margin: 20px auto;
}
    .ver-bar{
        border: 2px solid #d01818;
        display: inline-block;
        height:50px;
        background:#d01818; 
        position: absolute;
        top: -50px; 
        transform: translate(-50%,50%);
        left: 50%;
    }
}
@media(min-width:700px){
    .cnt-ban{
        height: 250px;
        padding: 50px 20px;
    }
}
@media(min-width:1000px){
    .cnt-ban{
        height: 300px;
        padding-top: 100px;
        margin:10px 0px;
    }
    .cnt-p{
    width: 250px;
    }
    .cntxt-con{
        margin: 50px 0;
    }
}
/*meet with us*/
