.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	backgroun: url(images/preload.gif) center no-repeat #fcfcfc;background-size: 70px;background-color: white;
    
}
.se-pre-con img{width: 250px;;margin: auto;display: block;margin-top: 165px}
@media screen and (max-width:480px)
    {
      .se-pre-con img{width: 200px;;margin: auto;display: block;margin-top: 100px}
        .se-pre-con {background-size: 60px;background-position: 50% 200px;}    
        
}
/* end pre-load screen*//

/* this is to center*/
body{background-color: #fcfcfc;}
body p{font-family: 'Ubuntu', sans-serif;}


#faq_cont{ width: 85%; height: auto; border: 1px olid black; margin: auto; border-radius: 20px;margin-bottom: 50px;padding-bottom: 50px; padding-top: 0px; }


/*start: faq banner */

#nav_bar{color: red;}
#faqheaddown{ display: flex; width: 100%; height: 300px;background-color: #fcfcfc;flex-direction: column;justify-content: center; align-items: center;padding-top: 30px; background-image: url(images/1.png);background-repeat: no-repeat; background-size: contain;}


#faqheaddown h1{color: #454545; font-size: 30px;text-align: center; width: 60%;text-align: center;font-family: 'Ubuntu', sans-serif;}

@media screen and (min-width:300px) and (max-width:480px){
    
    #faqheaddown h1{font-size: 0px; text-align: left; margin-bottom: 20px;padding-top: 10px }
    #faqheaddown p{font-size: 18px}
    #faqheaddown{height: 380px; padding-top: 90px}
    
}

@media screen and  (max-width:1000px){
    #faqheaddown{background-position: 0px 20px;background-size: 105%;height: 250px;}
    #faqheaddown h1{font-size: 25px;padding-top: 20px;}
    
    
}
@media screen  and (max-width:800px){
    #faqheaddown{background-size: 115%;background-position: -50px 0px; height: 210px;}
      #faqheaddown h1{font-size: 22px;padding-top: 0px;position: relative; top: 0px}
    
}

@media screen  and (max-width:650px){
    #faqheaddown{background-image: url(images/2.png);background-size: 130%;}
    #faqheaddown h1{font-size: 20px;width: 60%;background-position: 0px 0px;}   
}
@media screen and (max-width:550px){
    #faqheaddown{background-image: url(images/3.png);background-size: 80px 80px;background-position: 50% 10px;height: 150px;} 
        #faqheaddown h1{font-size:20px ;text-align: center;position: relative;top: 30px;width: 95%;}
    
}
@media screen and (max-width:480px){
      #faqheaddown{background-image: url(images/3.png);background-position: 50% 10px;height: 150px;} 
        #faqheaddown h1{font-size:20px ;text-align: center;position: relative;top: 30px;width: 95%;}
}
@media screen and (max-width:360px){
    #faqheaddown{}
    
}
/*end: faq banner */


#faqbox{width: 70%; margin: auto;  height: auto; display: flex; justify-content:space-between; margin-top: 30px; padding-top: 10px; justify-content: center;flex-wrap: wrap; }
#faqbox span{font-weight: 600;}
#faqbox #inr{width: 14px; height: 14px;position: relative; top:2px;}
#faqbox a{color: #2274A5; }
/* section title*/
.lefthead *{border: 1px olid black;}
.lefthead {border: 1px olid black;box-sizing: border-box;}
.lefthead{width: 25%;  height: 50px;  display: flex; flex-direction: column; justify-content: center;align-items: center;border-top:3px solid #343434; }

.lefthead h1{font-size: 22px;box-sizing: border-box;}
#faqbox h1{border: 1px olid black;  color: #343434;  margin-top: -0px; height: 30px;font-family: 'Ubuntu', sans-serif;  } 
/* START:contains queston of sec 1*/
#qabox{border: 1px olid black;width: 70%; height: auto; margin: auto; }
.down{width: 32px; height: 32px; position: absolute; right: 1%; top:50%; margin-top: -16px;background-image: url(images/down2b.png); background-repeat: no-repeat; transition: transform 0.5s, right 0.5s; }
.quest1{  width: 95%; margin: 0px 5px 10px 15px; margin: 0px auto 10px auto ;  height: auto;  padding: 10px; border-top:3px #19191e solid;  border-radius: 0px; background-color: #fcfcfc; position: relative; z-index: 2;  transform: scale(1.00); transition: box-shadow 0.5s, width 0.5s,border-left 0.5s;box-sizing: border-box; }

.quest1 p{margin: 0px 40px 0px 7px; font-size: 20px;font-weight: 00; color: #343434;font-family: 'Roboto', sans-serif;}
.ans1box{width: 95%;margin: 0px 0px 7px 15px;  position: relative; top:-20px; display: block; height: 0px; overflow: hidden;  border: 1px olid black;opacity: 0.0;
transition: opacity 1s; padding: 5px 0px;
}

#ans1{display: block; width: 98%; margin: auto;  background-color: #fcfcfc; box-sizing: border-box; position: relative; top: -900px; padding: 5px 10px; border-radius: 0px 0px 20px 20px;border: 1px olid black;height:auto;}

#ans1 p{  color: #343434; font-size: 19px;font-family: 'Roboto', sans-serif;}

/* START:java classes*/

.jans1box{display: block;}
.jans1box{height:auto;opacity: 1.0;}

.jans1box #ans1{top:0px;}


/*.jquest1{width: 95.5%;}*/
.jquest1{ }

/* End:contains queston of sec 1*/

.jdown{transform: rotate(180deg);  }
/* END: java classes*/
/*START:responsive*/
@media screen and (min-width:300px) and (max-width:480px){
    #faqheaddown h1{font-family: 'Slabo 27px', serif;font-weight: 600}
    #faq_cont{width: 95%;}
    #faqbox{flex-direction: column; width:100%; margin-top: 0px;}
    #ans1 p{font-size: 17px;text-align: justify;}
  
    #qabox{width: 100%;}
    .quest1{ width: 100%;padding: 3px}
    .quest1 p{ font-size: 17px;; color: #343434;margin: 0px 40px 0px 7px;font-weight: 00; text-align: justify;}
    
    #faqimg h1{font-size: 180%;}
    .ans1box{width: 100%; margin: 0px 0px 7px 0px;}
    
    #faqimg h1{font-size: 150%;}
   
    
    
    .lefthead{border: 1px olid black;width: 100%;margin: auto; height: 70px; box-sizing: border-box; margin-bottom: 10px;border-top: 0px; }
    .lefthead *{border: 1px olid black;}
    .lefthead  img{height: 100px;box-sizing: border-box;}
   .lefthead h1{font-size: 27px;box-sizing: border-box;}
    
    #faq_cont{padding-bottom:10px; padding-top: 10px; }
    .jans1box{height:auto;}

    
  
 /*.lefthead{width: 25%;  height: 130px;  border-right: 5px olid #547A96;display: flex; flex-direction: column; justify-content: center;align-items: center;}
.lefthead img{width: 100px;}*/
}

@media screen and (min-width:480px) and (max-width:1024px){
    
    #faqbox{width: 95%;}
    
}
@media screen and (min-width:500px) and (max-width:600px){
   
    #faq_cont{width: 90%;}
}
@media screen and (min-width:400px) and (max-width:500px){
  
    #faq_cont{width: 90%;padding-left: 10px;}
}



/*END:responsive*/






