body *{
  box-sizing: content-box;
}
body,h1,h2,h3,h4,h5,h6,p,{
    margin: 0;
    padding: 0;
}
/*select*/
select{
    border-radius: 0;
white-space: nowrap;
text-overflow: ellipsis;
}
/*select*/
.selection-box {
        background: url('./selection-box-button.png') 94% 50% no-repeat ;
        /*width: 272px;
        height: 38px;*/
        color:#454545 ;
        font: 700 15px/38px 'Montserrat', sans-serif;
        border: solid 1px #c5c4c5;
        border-bottom: 0;
        position: relative; }
        
        .selection-box:hover {
          cursor: pointer; }
        
        .selection-box .current {
          text-transform: uppercase;
          padding: 0 22px; }
        
        .selection-box .options {
          position: absolute;
          top: 37px;
          border: solid 1px #c5c4c5;
          border-top: 0;
          color: #563a1e;
          padding: 0;
          margin: 0 0 0 -1px;
          width: 100%;
          list-style: none;
          font-weight: 400;}
          
          .selection-box .options .option {
            padding: 0 22px;
            border-top: solid 1px #c5c4c5; }
            
            .selection-box .options .option:hover {
              background: #eeeece;
              cursor: pointer; }
              
              .selection-box .options .option:hover.selected {
                background: #c29817; }
        
        .selection-box .selected {
          background: #c29817;
          color: white; }

/*text-area*/
.text-area{
    display: flex;
}
input[type="textarea"]{
 width: 100% !important;
    height: 100px;
    padding: 0;
    
}
/*text-area*/
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
select{
     /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}
input,select{
    padding: 10px;
    margin: 10px;
    border-width:0;
    border: 1px solid #ddd;
    border-radius: 0;
}
.form-main{
   
   
}
.form-div{
     border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-div input,.form-div select{
    border-width:0;
    border: 1px solid #ddd;
   /* box-shadow: 0 0 10px #ddd;*/
    border-radius: 0;
}
@media (min-width:600px){
.form-div{
     border: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
   
.form-div input,.form-div select {
   width: 40%;
}
    /*text-area*/
.text-area{
   
    display: flex;
    width: 96%;
}
input[type="textarea"]{
   width: 100% !important;
    height: 100px;
}
    
    }
@media (min-width:800px){

  /*text-area*/
.text-area{
   
    display: flex;
    width: 95%;
}
    }
@media (min-width:900px){

  /*text-area*/
.text-area{
    display: flex;
    width: 94%;
}
    }
@media (min-width:1200px){

  /*text-area*/
.text-area{
    display: flex;
    width: 93.5%;
}
    }
@media (min-width:1300px){

  /*text-area*/
.text-area{
    display: flex;
    width: 98%;
}
    .form-div input,.form-div select {
   width: 45%;
}
    }
