body *{
  box-sizing: content-box;
}
body,h1,h2,h3,h4,h5,h6,p,{
    margin: 0;
    padding: 0;
}
/*select*/
 select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #444;
}
 select::-ms-expand {
	display: none;
}
/*select*/

/*text-area*/
.text-area{
    display: flex;
}
input[type="textarea"]{
 width: 100% !important;
    height: 100px;
    padding: 0;
    
}
/*text-area*/
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
select{
     /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}
input,select{
    padding: 10px;
    margin: 10px;
    border-width:0;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
}
.form-main{
   
   
}
.form-div{
     border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-div input,.form-div select{
    border-width:0;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
}
@media (min-width:600px){
.form-div{
     border: 1px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
   
.form-div input,.form-div select {
   width: 40%;
}
    /*text-area*/
.text-area{
   
    display: flex;
    width: 96%;
}
input[type="textarea"]{
   width: 100% !important;
    height: 100px;
}
    
    }
@media (min-width:800px){

  /*text-area*/
.text-area{
   
    display: flex;
    width: 95%;
}
    }
@media (min-width:900px){

  /*text-area*/
.text-area{
    display: flex;
    width: 94%;
}
    }
@media (min-width:1200px){

  /*text-area*/
.text-area{
    display: flex;
    width: 93.5%;
}
    }
@media (min-width:1300px){

  /*text-area*/
.text-area{
    display: flex;
    width: 98%;
}
    .form-div input,.form-div select {
   width: 45%;
}
    }

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
label.dropdown select {
	padding: 10px 42px 10px 10px;
	background: #f8f8f8;
	color: #444;
	border: 1px solid #aaa;
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
}
label.dropdown select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
	display: none;
}
label.dropdown:before {
	content: '';
	right: 5px;
	top: -7px;
	width: 30px;
	height: 33px;
	background: #f8f8f8;
	position: absolute;
	pointer-events: none;
	display: block;
}
label.dropdown { position: relative; }
label.dropdown:after {
	content: '>';
	font: 16px Consolas, monospace;
	color: #444;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 2px;
	top: -3px;
	border-bottom: 1px solid #aaa;
	position: absolute;
	pointer-events: none;
	width: 35px;
	padding: 0 0 5px 0;
	text-indent: 14px;
}
@media screen\0 {
	label.dropdown:after {
		width: 38px;
		text-indent: 15px;
		right: 0;
	}
}
@media screen and (min--moz-device-pixel-ratio:0) {
	label.dropdown select { padding-right: 40px; }
	label.dropdown:before { right: 6px; }
	label.dropdown:after {
		text-indent: 14px;
		right: 6px;
		top: -5px;
		width: 36px;
	}
}