* {box-sizing: border-box;}
body {font-family: 'Roboto', sans-serif; margin:0;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  margin: auto;
    
}
.mySlides{
    position: relative;
}
.mySlides::before{
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.8);
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*width: 50px;
    height: 50px;*/
  padding: 13px 20px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
border-radius:50%;
    background: rgba(0,0,0,0.8)
}


.next {
  right: 0;
padding: 13px 20px;
}



/* Caption text */
/*
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
*/
.br-lne{
    border-bottom: 3px solid #9b3236;
    color: #fcfcfc;
}
.qo-btn{
    border: 0;
    background: #9b3236;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
}
.qo-btn1{
    border: 0;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    background: none;
    border: 1px solid #fcfcfc;
}
.text-eve h2{
    color: #fff;
    font-size: 50px;
    width: 70%
}
.text-eve{
    position: absolute;
    top:150px;
    left: 10%;
    transition: 0.7s;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev,.next{
      font-size: 10px;
      background: none;
    }
    .text-eve {
        font-size: 10px;
            top: 42px !important;
    }
    .text-eve h2 {
    font-size: 18px !important;
        width:unset;
}
    .qo-btn1{
        font-size: 10px
    }
    .qo-btn{
        font-size: 10px
    }
    .welc-mla{
    display: flex;
    flex-direction: column;
        padding: 0px;
    }
    .col-5{
        width: 100%;
       
        
    }
    .col-7{
        width: 100%;
        padding: 0 10px;
        
    }
    .bc-we-img {
        height: 500px;
    }
}
@media only screen and (max-width: 700px) {
    .icn-con{
    display: flex;
    flex-direction: column;
   
}
    .text-eve h2 {
        font-size: 15px !important;
}
    
}
@media only screen and (max-width: 400px){
.text-eve {
    font-size: 10px;
    top: 10% !important;
}
    .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  /*width: 50px;
    height: 50px;*/
  padding: 13px 6px !important;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
border-radius:50%;
    /*background: rgba(0,0,0,0.8)*/
}
.next {
  right: 0;
padding: 13px 6px !important;
}
.text-eve h2 {
    color: #fff;
    font-size: 14px;
}
}
@media (max-width:900px){
    .text-eve h2 {
        font-size: 35px;
}
}
@media  (max-width:1200px) {
    .text-eve {
    position: absolute;
    top: 75px;
    left: 10%;
    transition: 0.7s;
}
}

/*iconlist*/
.icn-div{
    margin: 20px 0px;
}
.icn-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     flex-wrap: wrap;
    
}
.fil-cn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    
}
.fil-cn p{text-align: center;}
.fil-cn img{
    width: 100px;
}
.icn-cap{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icn-cap h2{
    margin: auto;
    color:#f41e28;
}
sup{
    color: #f41e28;
}
.icn-cap p{
font-size: 12px;
    font-weight: 600;
}
@media (min-width:500px){
    .icn-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     flex-wrap: wrap;
 
}
.fil-cn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

}
/*iconlist*/
/*why choose*/
.ch-img{
    background: url(images/O6M3H80.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
}
.udr{
    border-bottom:3px solid #fcfcfc;
    width: 40px;
   position: relative;
    top: 0px;
    left: 5px;
}
.sld-rn{
    margin: 10px 0px;
}
.sld-rn p,.ch-hed p{
    color: #fcfcfc;
    margin: 0;
    font-size: 13px;
}
.ch-hed{
    margin: 10px 0px;
    text-align: center;
    padding: 30px 0;
}
.ch-hed h1 {
    color:#fcfcfc;
    
}
.fln-sldee{
    padding: 20px 0;
}
.hole-con{
    display: flex;
    justify-content: center;
    padding-bottom: 30px
}
.slider-act{
    display: flex;
    flex-direction: row;
    width: 30px;
    /*border: 1px solid;*/
    justify-content: space-between;
   margin: 10px 0px;
}
.active{
    background: #da5050 !important;
    border: 1px solid #da5050 !important;
}
.dot{
    width:10px;
    height: 10px;
    border: 1px solid #454545;
    border-radius: 50px;
    background: #454545;
}
.sld-rn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.sld-rn h1{
    margin: 0;
    font-size: 20px
}
.area-con{
    padding: 0 10px;
}
.rn-img img{
    width: 50px
}
#sec-sld{
    display: none;
    animation: fun 1s;
    transition: 0.4s;
}
#fir-sld{
    animation: fun 1s;
    transition: 0.4s;
}
@keyframes fun{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media (min-width:600px){
    .area-con{
        display: flex;
        flex-direction: row;
        padding: 50px 10px;
        justify-content: space-around;
    }
    .sld-rn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
    
    .sld-rn p,.ch-hed p{
    color: #fcfcfc;
    margin: 0;
    font-size: 15px;
}
    .sld-rn h1{
    margin: 0;
    font-size: 20px
}
    .hole-con{
    position: relative;
    
}
    .hol-rn-dot{
        border: 1px solid;
        display: flex;
        justify-content: center;
    }
    .ch-hed{
        width: 300px;
        text-align: left;
    padding: 0;
    }
    .sld-txt{
        width: 350px;
    }
    .sld-rn{
        padding: 10px 0px;
    }
}
@media (min-width:800px){
    .area-con{
        display: flex;
        flex-direction: row;
        padding: 50px 50px;
        justify-content: space-around;
    }
    .sld-txt{
        width: 500px;
        
    }
    .rn-img{
        margin-right: 50px;
    }
    .sld-rn p,.ch-hed p{
    color: #fcfcfc;
    margin: 0;
    font-size: 18px;
}
    .sld-rn h1{
    margin: 0;
    font-size: 25px
}
}
/*why choose*/
/*spliter*/
.spliter-con{
    display: flex;
    flex-direction: column;
    margin: 0px 0;
    align-items: center;
    justify-content: center
}
.sap1{
    width: 200px;
    height: 600px;
  /* transform: skew(-15deg);*/
    position: relative;
    left: -25px;
    top: -10px;
  background: url("images/chi1d.jpg") no-repeat;
    background-size:cover;
    background-position: 20% 10%;

}

.sap2{
    width: 200px;
    height: 600px;
    /*transform: skew(-15deg);*/
    position: relative;
    top: 30px;
    left: -25px;
    background: url("images/ring.jpg") no-repeat;
    background-size:cover;
    background-position: 50% 0%;
   
    
}
.spimg{
    width: 150px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: ;
    padding: 0 50px;
    margin-bottom: 20px;
    position: relative;
    flex-direction: column;
}
.spltr-txt{
    /*width: 400px;*/
    position: relative;
    top: 80px;
    margin: 30px 0px;
    padding: 0px 5px;
}
.txt-lne{
    border: 2px solid #ee1b24;
    width: 25px;
    background: #ee1b24;
}
.spltr-txt p{
    font-size: 18px;
}
.clror{
    color: #ee1b24;
}
@media(min-width:300px){
    .sap1{
    width: 180px;
    height: 600px;
  transform: skew(-15deg);
    position: relative;
    left: -25px;
    top: -20px;
  background: url("images/chi1d.jpg") no-repeat;
    background-size:cover;
    background-position: 20% 10%;

}

.sap2{
    width: 180px;
    height: 600px;
    transform: skew(-15deg);
    position: relative;
    top: 30px;
    left: -25px;
    background: url("images/ring.jpg") no-repeat;
    background-size:cover;
    background-position: 50% 0%;
   
    
}
.spimg{
    width: 150px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: ;
    padding: 0 50px;
    margin-bottom: 20px;
    position: relative;
    flex-direction: column;
}
}
@media(min-width:500px){
    .sap1{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    left: 10px;
    top: -20px;
  background: url("images/chi1d.jpg") no-repeat;
    background-size:cover;
    background-position: 20% 10%;

}

.sap2{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    top: 30px;
    left: 20px;
    background: url("images/ring.jpg") no-repeat;
    background-size:cover;
    background-position: 50% 0%;
    
}
.spimg{
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 20px;
    flex-direction: row;
}
    .spltr-txt{
        padding: 0 30px;
        width: 300px;
    }
}
@media(min-width:600px){
    .spliter-con{
    display: flex;
    flex-direction: column;
    margin: 0px 0;
    align-items: center;
    justify-content: center
}
.sap1{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    left: 50px;
    top: -80px;
  background: url("images/child.jpg") no-repeat;
    background-size:cover;
    background-position: 20% 10%;

}

.sap2{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    top: 30px;
    left: -40px;
    background: url("images/ring.jpg") no-repeat;
    background-size:cover;
    background-position: 50% 0%;
    
    
}
.spimg{
   
    width: 480px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 20px;
    flex-direction: row;
}
.spltr-txt{
    width: 400px;
    position: relative;
    top: 80px;
    margin: 30px 0px;
    
}
.txt-lne{
    border: 2px solid #ee1b24;
    width: 25px;
    background: #ee1b24;
}
.spltr-txt p{
    font-size: 25px;
}
.clror{
    color: #ee1b24;
}

}
@media(min-width:900px){
    .sap1{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    left: 50px;
    top: -80px;
  background: url("images/chid.jpg") no-repeat;
    background-size:cover;
    background-position: 20% 10%;

}

.sap2{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    top: 30px;
    left: -10px;
    background: url("images/ring.jpg") no-repeat;
    background-size:cover;
    background-position: 50% 0%;
    
    
}
}

@media(min-width:1000px){
.spliter-con{
    display: flex;
    flex-direction: row;
    margin: 0px 0;
    align-items: center;
    justify-content: center
}
.sap1{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    left: 50px;
    top: -80px;
  background: url("images/child.jpg") no-repeat;
    background-size:cover;
    background-position: 20% 10%;

}

.sap2{
    width: 200px;
    height: 400px;
    transform: skew(-15deg);
    position: relative;
    top: 30px;
    left: -40px;
    background: url("images/ring.jpg") no-repeat;
    background-size:cover;
    background-position: 50% 0%;
    
    
}
.spimg{
   
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    flex-direction: row;
}
.spltr-txt{
    width: 400px;
    position: relative;
    top: 80px;
    left: -50px;
}
.txt-lne{
    border: 2px solid #ee1b24;
    width: 25px;
    background: #ee1b24;
}
.spltr-txt p{
    font-size: 25px;
}
.clror{
    color: #ee1b24;
}
}
/*spliter*/
/*testimonial*/
.testi-mn{
    margin-top: 80px;
}
.testi-hd,.tsi-para,.tsti-nme{
    text-align: center;
    font-size: 15px;
    
}
.tsi-para{
    padding: 0px 10px
}
.tsti-slider-act{
    display: flex;
    flex-direction: row;
    width: 60px;
    /*border: 1px solid;*/
    justify-content: space-between;
   margin: 10px 0px;
}
.tsti-lne{
    border:2px solid #ee1b24;
    background: #ee1b24;
    width: 30px;
    margin:10px auto;
    
}

.tsti-nme{
    font-weight: 600;
}
#tsval-2,#tsval-3,#tsval-4{
    display: none;
}
.test-vl{
    animation: fun 1s;
    transition: 0.7s;
    position: relative;
}
.tusr-img{
    
    width: 100px;
    height: 100px;
    margin: auto;
}
.tusr-img img{
    width: 100%;
    border-radius: 100%;
    
}
.testi-hd h3{
    margin: 0;
    font-size: 25px;
}
.testi-hd .tsti-lne{
    margin: 10px auto;
}
.quimg img{
    width: 10%;
}
.quimg{
    position: absolute;
    top: 30px;
    left: 10px;
}
@media(min-width:800px){
    .testi-mn{
        margin: 150px 0px;
        padding: 0 200px;
    }
}
@media(min-width:1000px){
    .testi-mn{
        margin-top: 150px ;
        padding: 0 200px;
        margin-bottom: 10px;
    }
}
/*testimonial*/
/*gallery*/
.galar-main{
    display: none;
}
.gala-hd,.gala-para{
    text-align: center;
}


@media(min-width:600px){
.gala-hd,.gala-para{
    text-align: center;
}
.gala-act p{
    font-size: 15px;
    font-weight: 600;
   
}
.galar-main{
    display: flex;
}
    .gala-para{
         width: 400px;
        margin: auto
    }
    .gala-act{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
    }
    .gala-act p {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
padding: 5px 0;
        cursor: pointer;
        
}
.gala-act p:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #993233;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.gala-act p:hover:before, .gala-act p:focus:before, .gala-act p:active:before {
  right: 50%;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        animation: fun 1s;
    }
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    galar-main{
        margin: 0
    }
    
.gala-cape{
    position: absolute;
    top: 60px;
    left: 0px;
    opacity: 1;
}
.gala-cape .cape-img{
    width: 30px;
    position: relative;
    display: block;
    margin: auto;
    
}
    .gala-imgs a{
        width: 25%;
    }
.cap-hd1{
    padding: 0px 5px;
}
.cap-hd1 h3,.cap-hd1 p{
    color: #fcfcfc;
    margin: 0;
    text-align: center
}
.gala-cape .cap-hd1 p{
    font-size: 15px;
    text-align: center;
    margin:0;
    
}
}

@media(min-width:700px){
    .gala-imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        justify-content: flex-start;
    }
    .gala-imgs a{
        width: 25%;
    }
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
    .gala-act{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto;
        
    }
}
@media(min-width:1300px){
    .gala-imgs img{
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }
}

/*gallery*/
/*gallerymobile*/
@media(min-width:600px){
    .mobi-gala{
        display: none;
    }
}
.bir-hd p{
    font-size: 15px;
    font-weight: 600;
    padding: 0 5px;
    text-align: center;
}
.eve-amg{
    width: 200px;
    margin: 0 auto;
    position: relative;
     cursor: pointer;
}
.eve-amg img{
    width: 100%;
    vertical-align: middle;
}
.img-mng::before{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;right: 0;
    background: rgba(0,0,0,0.8);
    position: absolute;
    opacity: 1;
}
.gala-cap{
    position: absolute;
    top: 30px;
    left: 0px;
    opacity: 1;
}
.gala-cap img{
    width: 30px;
    position: relative;
    display: block;
    margin: auto;
    
}
.cap-hd1{
    
    padding: 0px 5px;
}
.cap-hd1 h3,.cap-hd1 p{
    color: #fcfcfc;
    margin: 0;
    text-align: center
}
.cap-hd1 p{
    font-size: 10px;
    text-align: center;
    margin:0;
}
.main-evs{
    
}
/*.eve-amg:hover.eve-amg::before {
    opacity: 1;
    transition: opacity 0.7s;
    animation: fun 1s;
}
.eve-amg:hover .gala-cap {
    opacity: 1;
    transition: opacity 0.7s;
    animation: fun 1s;
}*/
/*gallerymobile*/
/*footer*/
.fot-hed{
    margin-top: 10px;
}
@media(min-width:800px){
    .fot-hed{
    margin:50px 0px;
}
}
/*footer*/