

.slide{width: 100%;overflow: hidden;height: auto; position: relative;}
.slide img{width: 180%; position: relative;left: -100px;}
.slidehd{position: absolute;font-size: 23px;left: 0px;top: 50px;padding-left: 5px;}
.slidehdbrk{display: block;}
.slidehdbrk span{font-family: 'Pacifico', cursive;color: #F39237;font-size: 25px}

.downbox{width: 100%; height: auto;margin-bottom: 0px; background-color:#4d4d4f;position: relative;top: px;}
.downbox p{color: #fcfcfc;font-size: 20px;text-align: center;}
.downbrk{display: block;}
.deco{font-family: 'Pacifico', cursive;color: #F39237;}
.yellowbox{width: 100%;height: 20px;background-color: #FFE066;opacity: 0.8;position: absolute;bottom: 0px}
@media screen and (min-width:350px){
    .slidehd{font-size: 23px;top: 80px;}   
    .downbox p{font-size: 25px;}
        .slidehdbrk span{font-size: 28px}
    .slide img{width: 170%;position: relative;left: -150px;}
}

@media screen and (min-width:450px){
        .slide img{width: 160%;position: relative;left: -150px;}
    .slidehd{font-size: 30px;top: 80px;}   
    .downbox p{font-size: 30px;}
    .slidehdbrk span{font-size: 40px}
    
}
@media screen and (min-width:550px){
        .slide img{width: 140%;position: relative;left: -150px;}
    .slidehd{font-size: 30px;top: 80px;}   
    .downbox p{font-size: 30px;}
    .slidehdbrk span{font-size: 40px}
    
}
@media screen and (min-width:700px){
        .slide img{width: 100%;position: relative;left: -0px;}
    .slidehd{font-size: 40px;top: 80px;}   
    .downbox p{font-size: 30px;}
    .slidehdbrk span{font-size: 45px}
    
}
@media screen and (min-width:1000px){
        .slide img{width: 100%;position: relative;left: 0px; transition: left 1s;}

    .slidehd{font-size: 65px;top: 130px;}   
    .downbox p{font-size: 35px;}
    .slidehdbrk span{font-size: 55px;}
    .downbrk{display: inline-block;padding: 20px 0px;}
    .yellowbox{height: 30px;}
    
}
    .slani{animation-name: slani;animation-duration: 1s;animation-fill-mode: forwards;}
    @keyframes slani{
        from{transform: scale(1.2);}
        to{transform: scale(1.0);}
    }

.slidehd{left: -50px;opacity: ;transition: opacity 1s,left 1s;}


















.sermhd{text-align: center;font-size: 23px;margin-bottom: 25px;}
.mspan{color: #F39237;}

.ser1{width: 230px; height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;margin: auto;border: 0px solid;border-radius: 5px;box-shadow: 0px 0px 10px 1px hsla(0, 0%, 0%, 0.1);margin: 15px auto;background-color: #f2f2f2;}
.ser1 img{width: 100px;margin: 5px auto;border: 0px olid;margin-bottom: 0px;}
.ser1 p{text-align: center;margin: 5px  0px;}
.ser1 h2{font-family: 'Pacifico', cursive;}
.ser1 a{color: #2193A8;margin: auto;}
.serbut{width: 130px; height:30px;border-radius: 20px; border: 1px solid #2193A8;display: flex;margin: 10px 0px;}
.sidehd{display: none;}
@media screen and (min-width:700px){
    .serbox{display: flex;justify-content: center;}
    
}


@media screen and (min-width:1000px){
    .serbox{display: flex;justify-content: flex-start;border: 1px olid;width: 80%}
    .sermhd{display: none;}
    .sidehd{width: 100px; height: 350px;
    
    background: #F39237; display: block

    }
    .sidehdj{color: white;width: 270px; transform: rotate(-90deg);position: relative;left: -155px;top: 130px;color: #F39237;font-size: 50px;border: 1px olid black;}
    .sidehd h1 span{position: relative;top: 25px;color: white;font-family: 'Lato', sans-serif;font-size: 45px;}
    .serv{display: flex;justify-content: space-between;width: 100%;height: 350px;align-items: center;border: 1px olid;}
    .sidehdj{top: 180px;opacity: 0;transition: top 1s,opacity 1s;}
}


/*s: consult*/

.cons{width: 100%;height: auto;background-color:#F9F9F9;}
.cont1{width: 100%;height: auto;padding: 5px;}
.cont1 h1{text-align: center;color: #454545;margin-top: 20px;}
.cont1 h2{color: #F39237;font-size: 22px; text-align: center;padding-bottom: 10px}
.cont1 p{text-align: justify;}
.conline{width: 100%;height: auto;}
















textarea:focus, input:focus,select:focus{
    outline: none;
}




.form_cont{ 
    width: 100%; margin: auto; margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px olid black;

    padding: 20px 0px;
}



.fields{ width: 100%; display: flex; justify-content: center; flex-direction: column;   height: auto;}


#cletf1, #cletf2, #cletf3,#cletf4{display: flex; justify-content: center; align-items: center; width: 90%; margin: auto;margin: 10px;}
#clet5 { width: 90%; height: 200px;display: flex; justify-content: center; align-items: center;position: relative;left: 10px}

#cletf1 input, #cletf2 input, #cletf3 input,#cletf4 input, #cletf5 textarea{ width: 95%; height: auto; padding: 13px 0px; padding-left: 45px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); font-size: 18px; color: #2B2D42;border: 1px solid rgba(37,196,133,0);
transition: width 0.3s, box-shadow 0.3s,border 0.5s;
}
input::placeholder{color: #717171; font-size: 18px;padding-left: 0px; }

#clet5 textarea{ width: 95%; height: 150px;    border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); font-size: 20px; color: #717171;font-family: serif;
transition: width 0.3s, border 0.5s;padding-top: 10px;
}
input::placeholder{color: #717171; font-size: 16px; }
#want_ex option,#cletf2 select{color: #717171; font-size: 16px;}
textarea::placeholder{color: #717171; font-size: 16px; }

/* inter */
#cletf1 input{background-image: url(images/user.svg);background-size: 35px;}
#cletf2 input{background-image: url(images/email.svg);background-size: 35px;}
#cletf3 input{background-image: url(images/phone.svg);background-size: 35px;}
#cletf4 input{background-image: url(images/org.svg);background-size: 35px;}
#clet5 textarea{background-image: url(images/com24.png); background-position: 3px 65px; padding-left: 10px; }

/* inter */
#cletf1 input:focus{border: 1px solid rgba(242,155,51,1);}
#cletf2 input:focus{border: 1px solid rgba(242,155,51,1);}
#cletf3 input:focus{border: 1px solid rgba(242,155,51,1);}


#cletf4 input:focus{border: 1px solid rgba(242,155,51,1);}

#cletf6{  display: flex; justify-content: center; align-items: center;}
#cletf6{ width: 90%; margin-top:5px;padding-left: 25px; position: relative; left: -40px;
}
#clet5 textarea:focus{border: 1px solid rgba(37,196,133,1);}


#ffsubmit{ border-style: none; border-radius: 5px;  color:white;background-image: url(images/mailsend.png); font-size: 22px;  height: 40px; background-color:#F39237;  background-repeat: no-repeat; background-position: 93px 10px; width: 130px; padding-right: 30px; transition: padding-right 0.5s, background-position,0.5s; height: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;top: -5px;right: -30px;cursor: pointer;
    
  

}

#ffsubmit:hover{ padding-right: 43px; background-position: 97px 10px;}

/* end:form*/
.cont_con *{border: 1px olid}




@media screen and (min-width:900px){

    
    .fields{border: 1px olid;position: relative;top: 25px;}
 
    .set12{display: flex;flex-direction: row;}
    .set3{display: flex;width: 100%;position: relative;left: px;justify-content: center;align-items: center;padding-top: 20px;}
    #clet5 { height: 100px;width: 65%;}
    #clet5 textarea{height: 100px;width: 95%}
    #cletf6{width: 30%;position: relative;left: -20px;padding-left: 0px}
    
}

@media screen and (min-width:780px){
    
    .cons{display: flex;justify-content: center;align-items: center;padding: 50px;}
    .midline{width: 5px;height: 250px;background-color: #F39237;}
    .cont1{padding-right: 20px;width: 45%;padding-bottom: 40px;}
    .conline{width: 45%;}
    .cont1 p{text-align: right;}
    .cont1 h1,.cont1 h2{text-align: right;}
    
}
@media screen and (min-width:1100px){
      .cont1{width: 30%;}
    .conline{width: 45%;}
    
}

@media screen and (min-width:1000px){
    #consj1{opacity: 0;position: relative;left: -50px;transition: opacity 1s, left 1s;}
    #consj2{opacity: 0;position: relative;left: -50px;transition: opacity 1s, left 1s;}
    
}


/*e: consult*/


/*s: philosophy*/

.phil{border-image-repeat: 1px solid;}
.mphilhd{text-align: center;font-size: 24px;margin-top: 10px;}
.mphilhd span{color: #F39237;}
.philtxt h2{font-family: 'Pacifico', cursive;;color:#F39237; font-weight: 100;text-align: center}
.philtxt{padding: 5px;}

@media screen and (min-width:1000px){
    .mphilhd{color:#fcfcfc ;width: 320px;position: absolute;transform: rotate(90deg);top: 160px;left: -75px;font-size: 44px;}
    .mphilhd span{position: relative;top: -35px}
    .phil{display: flex;min-height: 400px;background-image: url(images/philmg.jpg);background-repeat: no-repeat;background-size: 80%;background-position: 300px 00px;position: relative;background-color: #ffffff}
    .phil_con{border:1px olid black;background-color: #F39237;width: 100px;}
     .philtxt{border:1px olid black;width: 80%;padding-top: 70px;padding-right: 200px}
    .philtxt h2{font-size: 30px;}
    .philtxt p{width: 500px;margin: auto; font-size: 18px;}
    
    .mphilhd{opacity:0 ;top: 130px;transition: opacity 1s,top 1s;}
}


/*e: philosophy*/

/*s: inter*/
.intr h1{font-size: 24px;text-align: center;margin: 10px 0px;}
.intr span{color: #F39237;}
.intr p{padding: 5px;}
.inbox p{font-size: 17px;}
.intrb{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.inbox{width: 130px;height: 130px;border: 1px solid #b5b5b5;display: flex;flex-direction: column;justify-content: space-between;align-items: center;margin: 5px;}
.inbox img{width: 70px;}
.inbox p{text-align: center;}
.intr{background-color:#F9F9F9;padding: 15px 0px;}

@media screen and (min-width:800px){
    .intr{display: flex;border: 1px olid;justify-content: center;align-items: center} 
    .intmidline{height: 230px;width: 5px;background-color: #F39237;order: 2}
    .intrt{order: 3;width: 25%;padding-bottom: 40px;}
    .intrb{padding-right: 20px;}
    .intrt h1,.intrt p{text-align: left;padding-left: 20px;}
}
    @media screen and (min-width:1200px){
        .intr{padding: 50px;}
    .inbox p{font-size: 20px;}
    .intrt h1{font-size: 40px;}
    .inbox{width: 200px;height: 200px;justify-content: flex-start}
    .inbox img{width: 130px;}
    }



@media screen and (min-width:1000px){
    #intj{opacity: 0;position: relative;left: 50px;transition: opacity 1s, left 1s;}
        
}

/*e: inter*/




/*s: Testimonial*/


/* s: tesi*/





   
.testi{width: 100%; height: auto;  border:1px olid green;overflow: hidden;padding: 0px 0px;padding-bottom: 50px;margin-top: 0px;}
.testi h1{color: #F39237;font-size: 23px;text-align: center;margin-bottom: 50px;border: 1px olid;}
.testi span{color: #454545}



.tall{ width: 90%;;border-radius: 5px; height: auto; background-color: #fcfcfc;font-size: 18px;padding:10px 10px;;box-shadow: 15px 10px 40px 0px rgba(20, 20, 20, 0.2);position: relative;margin: 10px;margin: 10px auto; animation-name: tsani;animation-duration: 1s; animation-fill-mode: forwards;}
.tquote{width: 50px; height: 50px;border-radius: 50%;display: flex;position: absolute;right: 10px;top: -30px;border: 2px solid #2193A8;background-color: #fcfcfc

}
.tall h2{font-size: 18px;padding-bottom: 10px;}
.tquote img{width: 50%;margin: auto}

    .tds{display: none;}
 
.psidehd{display: none;}
@media screen and (min-width:880px){
    .testihd{display: none;}
    .tbase{background-image: url(images/tbg.jpg);}
    .tblock{display: flex;width: 90%;justify-content: center;align-items: flex-start;padding-top: 100px;}
    .tblock p{font-size: 17px;}
    .testi{padding-bottom: 0px;border: 1px olid;padding-top: 0px;background-color: #ffffff;height: 400px;}
    .tall{width: 28%;box-shadow: one;background-color: #FcFcFc;border-radius: 5px;margin: 10px;}
    .tbase{display: flex;justify-content: space-between;}
    .psidehd{width: 100px; height: 400px;
    
    background: #F39237; display: block

    }
    .psidehd h1{color: white;width: 330px; transform: rotate(-90deg);position: relative;left: -182px;top: 150px;color: #F39237;font-size: 40px;border: 1px olid black;}
    .psidehd h1 span{position: relative;top: 25px;left: -10px; color: white;font-family: 'Lato', sans-serif;font-size: 45px;}
    #psidehdj{top: 200px;opacity: 0;transition: opacity 1s, top 1s;}
}




@media screen and (max-width:880px){
  
.tswitch,.wswitch{width: 60%; height: 50px;border: 1px olid;margin: auto;margin-top: 30px;display: flex;justify-content: space-between;align-items: center;}
.tswit,.wswit{width: 30px; height: 30px; border-radius: 50%; background-color: #454545;display: flex;}
.tsin,.wsin{width: 20px; height: 20px;background-color: #454545;border-radius: 50%;margin: auto;border: 3px solid #fcfcfc;box-sizing: content-box}



@keyframes tsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}


@keyframes wsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}

}


/*e: Testimonial*/