.slide{border: 1px olid; width: 100%; height: 500px; background-image: url(images/slidebg.svg);background-repeat: no-repeat;background-size: cover;background-position: -0% -0px;border: 1px olid}
.slide h1{color:#25C485; font-size: 35px;  padding-top: 30px;padding-left: 10px}

.slh{position: relative;left: -80px;opacity: 0;transition: opacity 1s,left 1s;}
.slp{position: relative;left: -80px;opacity: 0;transition: opacity 1s,left 1s;}

.slide p{color:#454545; font-size: 20px;padding-left:10px;width: 90%;text-align: justify}

@media screen and (min-width:400px){
    .slide p{width: 350px;}   
    .slide h1{padding-top: 60px;}
}

@media screen and (min-width:900px){
    .slide p{width: 300px;}
    .slide{background-size: cover;background-position: 0px -50px} 
    
}
@media screen and (min-width:1150px){
.slide{border: 1px olid; width: 100%; height: 700px; background-image: url(images/slidebg.svg);background-repeat: no-repeat;background-size: contain;background-position: 0% -50px;}
.slide h1{color:#25C485; font-size: 45px;  padding-top: 100px;padding-left: 50px}

.slide p{color:#454545; font-size: 20px;padding-left:50px;width: 400px;text-align: justify}

}


/* s: philosophy*/
.uvp{display: flex;flex-direction: column;justify-content: center;align-items: center;border:1px olid}
.uvp h1{margin-bottom: 50px;font-size: 25px;text-align: center;}
.uvpm{width: 90%;border: 1px olid black;display: flex;justify-content: center;align-items: center;border: 1px olid}
.main{position: relative;opacity: 0; left: -70px;transition: left 1s,opacity 1s;}
.jtaruvp{position: relative;opacity: 0; left: 70px;transition: left 1s,opacity 1s;}
.main img{width: 100%;}
.s2flux{display: flex;flex-direction: column;justify-content: space-around;align-items: center;}
.s2flux p{width: 95%;font-size: 18px;text-align: justify}





@media screen and (min-width:700px){

.uvp{width: 100%; height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;border:1px olid}
.uvp h1{margin-bottom: 50px;}
.uvpm{width: 600px;height: 600px;border: 1px olid black;display: flex;justify-content: center;align-items: center;margin-left: 50px;margin-bottom: 0px;border: 1px olid}

.main img{width: 100%;;position: relative}
.s2flux{display: flex;justify-content: space-around;align-items: center;flex-direction: row;}
.s2flux p{width: 40%;font-size: 22px;text-align: justify}
}


/* s: facts*/

.facts{width: 100%;height: auto;}
.facts h1{color: #25C485;font-size: 35px;text-align: center}
.facts span img{width: 100px;border: 1px olid;position: relative;left: 35px;top: 25px}
.fvect{width: 80%; height: auto; border: 1px olid;margin: auto;display: flex;justify-content: space-between;align-items: center;margin-top: 40px;flex-wrap: wrap}
.fbox{border: 1px olid;width: 200px;height: 200px;display: flex;flex-direction: column;justify-content: center;align-items: center;margin-left: 50px;}

.fvect{position: relative;opacity: 0; top: 70px;transition: top 1s,opacity 1s;}

.fbox img{width: 150px;}
.fbox p{font-size: 22px;color: #454545;text-align: center}

@media screen and (max-width:516px){
    .fvect{justify-content: center;align-items: center;}
    .fbox{margin: 0px;}
    .facts h1{position: relative;left: 20px;border: 1px olid;text-align: left;font-size: 25px}
    .facts span img{width: 70px;left: 25px;top: 17px;border:1px olid}
    .fbox{width: 200px;height: 150px}
    .fbox img{width:100px;height: 100px}
    .fbox p{font-size: 20px;}
}
/* s:why */



@media screen and (max-width:599px){

    .why{width: 100%; height: auto;  border:1px olid red;padding-top: 30px}
.why h1{color: #25C485;font-size: 35px;text-align: center}
.why span img{width: 60px;border: 1px olid;position: relative;left: 0px;top: 10px}
.why1{width: 250px; height: auto;border: 1px olid;border-radius: 20px;margin: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);background-color: #fcfcfc;margin: auto;margin-top: 30px;animation-name: wsani;animation-duration: 1s; animation-fill-mode: forwards;position: relative;}
    
    .why1 img{width: 200px;margin-bottom: 0px;border: 1px olid}
    .why1 p{padding: 0px 10px;padding-bottom: 10px;font-size: 17px
    }

    .why_cont{}


}
@media screen and (min-width:600px){

    .why{width: 100%; height: auto;  border:1px olid red;padding-top: 30px}
.why h1{color: #25C485;font-size: 35px;text-align: center}
.why span img{width: 60px;border: 1px olid;position: relative;left: 0px;top: 10px}
.why_cont{width: 100%;margin: auto; height: auto;display: flex;justify-content: space-between;align-items: center;border: 1px olid yellow;margin-top: 50px;flex-wrap: wrap;}
.why1{width: 250px; height: auto;border: 1px olid;border-radius: 20px;margin: 5px;display: flex;flex-direction: column;justify-content: center;align-items: center;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2);background-color: #fcfcfc}
    
    .why1 img{width: 200px;margin-bottom: 0px;border: 1px olid}
    .why1 p{padding: 0px 10px;padding-bottom: 10px;
    }
    
}

@media screen and (min-width:1100px){
    
    .why_cont{width: 80%;}
    .why1{margin: 20px}
}


/* back lay*/
.sidebg{position: relative;}
  .backlay{width: 400px;border-radius: 50px; height: 400px;background-color: #dcf5ea;position: absolute;z-index: -1; right: -450px;top: 300px;transform: rotate(30deg);transition: right 1s;}
@media screen and (max-width:600px){
    
    .backlay{top: 1100px;right: -220px;transition: right 1s;}
}










/* s: tesi*/





@media screen  and (min-width:699px){ 

.testi{width: 100%; height: 800px;  border:1px olid green;overflow: hidden;padding: 30px 0px;padding-bottom: 0px;}
    .tds{display: block;}
.testi h1{color: #25C485;font-size: 35px;text-align: center;margin-bottom: 120px;}
.testi span img{width: 60px;border: 1px olid;position: relative;left: 20px;top: 10px}

.tbase{width: 100%;padding-top: 50px; height: 450px; background-image: url(images/testibg.jpg);background-repeat: no-repeat;background-size: cover;display: flex;}
.tds{width: 30%;height: auto; border: 1px olid;padding-left: 20px;margin-top: 50px}
.tds h1{font-size: 25px;text-align: left;margin-bottom: 10px}
.tds p{font-size: 22px}
.tblock{width: 70%;height:350px;border: 1px olid;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;position: relative;}
.tall{width: 300px;border-radius: 5px; height: auto;background-color: #fcfcfc;font-size: 18px;padding:10px 10px;;box-shadow: 15px 10px 40px 0px rgba(20, 20, 20, 0.2);position: relative;position: absolute;margin: 10px;}
.tquote{width: 50px; height: 50px;border-radius: 50%;display: flex;position: absolute;right: -20px;top: -20px;
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tall h2{font-size: 23px;}
.tquote img{width: 50%;margin: auto}
.t1{left: 10px;top: 280px;}
.t2{left: 100px;top: 50px;width: 350px;}
.t3{left: 500px;top: 100px;width: 350px;}

.t4{left: 550px;top: -130px;width: 300px;}
    .tblock{opacity: 0;top: 100px; transition: opacity 1s,top 1s;}
}


@media screen  and (min-width:1050px) and  (max-width:1231px){
    .tds{width: 25%;}
    .tds p{font-size: 18px;}
    .tblock{position: relative;left: -100px}

}

@media screen and (min-width:900px) and  (max-width:1049px){
    .testi{height: 800px;}
    .tds{display: none;}
    .tblock{left: 10px;}
    .t2{left: 100px;top: 50px;width: 350px;}
.t3{left: 500px;top: 100px;width: 350px;}

.t4{left: 550px;top: -130px;width: 300px;}
    
    .tall p{font-size: 16px}

}


@media screen and (min-width:700px) and  (max-width:900px){
    .tds{display: none;}
    
    .t1{left: 10px;top: 280px;}
.t2{left: 50px;top: 50px;width: 300px;}
.t3{left: 400px;top: 100px;width: 300px;}

.t4{left: 450px;top: -130px;width: 300px;}
}

@media screen and (max-width:699px){
   
.testi{width: 100%; height: auto;  border:1px olid green;overflow: hidden;padding: 0px 0px;padding-bottom: 0px;margin-top: 50px;}
.testi h1{color: #25C485;font-size: 35px;text-align: center;margin-bottom: 50px;border: 1px olid;position: relative;left: -20px;}
.testi span img{width: 60px;border: 1px olid;position: relative;left: 20px;top: 10px}



.tall{ width: 90%;;border-radius: 5px; height: auto; background-color: #fcfcfc;font-size: 18px;padding:10px 10px;;box-shadow: 15px 10px 40px 0px rgba(20, 20, 20, 0.2);position: relative;margin: 10px;margin: 10px auto; animation-name: tsani;animation-duration: 1s; animation-fill-mode: forwards;}
.tquote{width: 50px; height: 50px;border-radius: 50%;display: flex;position: absolute;right: 10px;top: -30px;
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tall h2{font-size: 23px;}
.tquote img{width: 50%;margin: auto}

    .tds{display: none;}
 
    
    
}




@media screen and (max-width:599px){

.tswitch,.wswitch{width: 60%; height: 50px;border: 1px olid;margin: auto;margin-top: 30px;display: flex;justify-content: space-between;align-items: center;}
.tswit,.wswit{width: 30px; height: 30px; border-radius: 50%; background-color: #25C485;display: flex;}
.tsin,.wsin{width: 20px; height: 20px;background-color: #25C485;border-radius: 50%;margin: auto;border: 3px solid #fcfcfc}



@keyframes tsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}


@keyframes wsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}

}