.manage{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    margin-bottom: 50px;
   
}
.manage *{
    box-sizing: border-box;
}
.ma-rder{
    order: 2;
}
.mangimg{
    width:100%;
    height:300px;
   
}
.maimgcont{
    background: url('images/home1.jpg') no-repeat;
    background-size:cover;
    height: 100%;
}
.mnghed{
    display: flex;
    flex-direction: row;
    margin: 10px;
  justify-content: center;
}
.ma-num{
    font-size: 40px;
    font-weight: 800;
    transform: rotate(-90deg);
    color: #45454578;
}
.ma-bar{
    /*border: 1px solid #45454578;*/
    width: 10px;
    background-color: #45454578;
}
.ma-title{
    padding: 0px 5px;
}
.ma-title h1{
    font-size: 16px;
    position: relative;
    
}
.ma-para{
    text-align: center
}

@media(min-width:600px){
    .manage{
    display: flex;
    flex-direction: row;
   margin-bottom: 0px;
    }
    .mnghed{
        justify-content: flex-start;
    }
    .mangimg{
        width: 50%;
    }
    
    .mangtxt{
        width: 50%;
        padding: 20px;
    }
    .ma-para{
    text-align: left;
}
   .mnghed{
       margin: 0;
    }
    
    .ma-rder{
    order: -1;
}
   
}

@media(min-width:700px){
    .sld{
        background: #fcfcfc;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
        animation: mamove 1s;
        animation-fill-mode: forwards;
        right: 0px;
      display: none;
    }
    .sldh2{
        display: none;
    }
    .ma-title{
        position: relative;
        padding: 0px 10px;
    }
    .ma-num{
        position: relative;
        display: none;
    }
    .ma-bar{
        display: none;
    }
    @keyframes manum{
        0%{left:-50px;opacity: 0;}
        100%{left:0px;opacity: 1;}
    }
    @keyframes mamove{
        0%{display: block; width: 100%;}
        100%{width: 0%;}
    }
    @keyframes mabar{
        0%{height:0px;opacity: 0;}
        100%{height:72px;opacity: 1;}
    }
}
@media(min-width:800px){
    .mangimg{
        width: 50%;
       height: 400px;
    }
    .ma-num{
        font-size: 60px;
    }
    .ma-title h1{
    font-size: 25px;
        position: relative;
}
     .mnghed{
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;
        width:360px;*/
         
    }
    .ma-para{
        font-size: 18px;
    }
    .mangtxt{
        padding: 50px;
    }
    
}