.no-js #loader { display: one;  }
.js #loader { display: lock; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../common/images/preload.gif) center no-repeat #f9f9f9;background-size: 300px;background-color: white;background-position: 50% 80px;
    
}

.se-pre-con img{width: 100px;;margin: auto;display: block;margin-top: 165px}
@media screen and (max-width:480px)
    {
      .se-pre-con img{width: 200px;;margin: auto;display: block;margin-top: 100px}
        .se-pre-con {background-size: 250px;background-position: 50% 50px;}    
        
}
/* end pre-load screen*/





/*  ----------------- /s:general things------------------*/

* {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent; /* For some Androids */
}
html{ height: 100%;}
body{background-color: #fcfcfc;}
body * { box-sizing: border-box;}
* h1,* h2{
font-family: 'Lato', sans-serif;}
* p,a{
    font-family: 'Roboto', sans-serif;}
body h1,body h2,body h3,body p {margin: 0px;color: #454545;}
* p{font-size: 16px}
@media screen and (min-width:750px){
    * p{font-size: 18px}
    
}
a{text-decoration: none !important; color: #454545; }
body{margin: 0px; min-height: 100%; position: relative; padding-bottom: 00px;}
/*
body.contact  .dmn6 span{width: 120px;}
body.offers  .dmn5 span{width: 90px;}
body.services  .dmn4 span{width: 90px;}
body.product  .dmn3 span{width: 110px;}
body.about-us  .dmn2 span{width: 100px;}
body.home  .dmn1 span{width: 60px;}
*/


/*  ----------------- e:general things------------------*/




/*&& s:navigation bar &&*/
.dmn3,.menu3{cursor: pointer;}
#nav_bar{width: 100%; height: 55px;box-shadow: 0px 0px 15px 1px hsla(0, 0%, 0%, 0.1);  z-index: 10; position: relative;transition: box-shadow 0.5s;

background-color: #fcfcfc;
    
    

}


/* s: mnav*/
#nav_line{ width: 35px; height: 35px; margin: 0px; padding: 0px; position: absolute; right: 20px; top: 13px;z-index: 8; }
.line{list-style: none; border: 2px solid #454545; margin: 5px 0px; position: relative; transition:  rotate 1s, top 1s, bottom 1s, opacity 0.4s; }
/*
.l1{transform: rotate(15deg);top: 9px;}
.l2{transform: rotate(15deg);}
.l3{transform: rotate(15deg);bottom: 9px;}*/

.main_menu{display: none;}
#inlogo{position: absolute; left:2%;top: -10px }
#inlogo_m{border: 1px olid black; width: 145px; height: 55px; margin: auto; display: block; padding-top: 10px; box-sizing: content-box;  }

/* s: menu lines ani */
#nav_line{transform: rotate(00deg)}
.lopen1{animation-name: lt1;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lopen2{animation-name: lt2;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lopen3{animation-name: lt3;animation-duration: 0.7s;animation-fill-mode: forwards;}

.lclose1{animation-name: lct1;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lclose2{animation-name: lct2;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lclose3{animation-name: lct3;animation-duration: 0.7s;animation-fill-mode: forwards;}
@keyframes lt1{
    0% {transform: rotate(0deg);top: 0px;}
    30%{transform: rotate(20deg);top: 9px;}
     100%{transform: rotate(315deg);top: 9px;}
}
@keyframes lt2{
    0% {transform: rotate(0deg);}
   30%{transform: rotate(20deg);}
     100%{transform: rotate(225deg);}
}
@keyframes lt3{
    0% {transform: rotate(0deg);bottom: 0px;}
   30%{transform: rotate(20deg);bottom: 9px;}
     100%{transform: rotate(225deg);bottom: 9px;}
}

@keyframes lct1{
    
     0%{transform: rotate(315deg);top: 9px;}
        70%{transform: rotate(20deg);top: 9px;}
    100% {transform: rotate(0deg);top: 0px;}    
}
@keyframes lct2{
    0%{transform: rotate(225deg);}    
    70%{transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
     
}
@keyframes lct3{
     00%{transform: rotate(225deg);bottom: 9px;}
     70%{transform: rotate(20deg);bottom: 9px;}
   100% {transform: rotate(0deg);bottom: 0px;}      
}

/* e: menu lines ani */
/*  && e:navigation bar &&*/
/*  && e:navigation bar &&*/
    
/* start: menu listing */
.menu_con{width: 100%; height:600px;; background-color: #fcfcfc;display: none;padding-top: 60px;position: fixed;z-index: 2;transition: transform 0.5s, opacity 0.5s;position: relative;overflow: hidden;}

.black_lay{width: 130%; height: 100%; background-color: #2d2d2d;position: absolute;left:100%;top: -50px; transition: left 1s;   z-index: 6; }


.mn img{width: 50px;}
.mn{font-size: 24px;color: #2d2d2d; font-family: sans-serif;font-weight: 100; opacity: 1;position: relative;transition: color 0.3s;border: 1px solid #b5b5b5;width: 80%;margin:13px auto;padding: 5px;}

.mn{display: flex;flex-direction: column;justify-content: center;align-items: center;}

.ex_mn {border-width: 0px; flex-direction: row;}
.ex_mn img{width: 30px;}







.a{transform: scale(1.05);}



/* end: menu listing */


.blackani{animation-name: za;animation-duration: 1.3s;animation-fill-mode: forwards;}

@keyframes za{
    from{left: 100%; }
    to{left: -130%; }
}



.menuarray{display: none;}
.b{transform: scale(1.05);}


@media screen and (min-width:930px){
  

       #nav_bar{height: 65px;}
   /* start:p_menu */


    .dmenu p{color:#454545}




/* end:p_menu */
    .dmenu_con,.menuarray{display: flex;justify-content: center;align-items: center;border: 1px olid}
    .dmenu_con{justify-content: space-between}
    .dmenu{border: 1px olid black;  height:auto;margin: auto 5px;font-size: 15px;position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;border: 1px olid black}
    .dmenu div{display: flex;flex-direction: column;justify-content: center;align-items: center;}
    .dmenu img{width: 40px;}
      .dmenu span{border-bottom: solid 2px #19647E;width: 0px;margin: auto;transition: width 0.5s;display: ;}
    .dmn1{width: 80px;}
     .dmn1:hover span{width: 40px;}
    .dmn2{width: 90px;}
     .dmn2:hover span{width: 80px;}
    .dmn3{width: 100px;}
     .dmn3:hover span{width: 90px;}
    
    .menu_con{display: none; }
    
    #inlogo{position: relative
    ;left:5px;top: 0px }
    #inlogo_m{  padding-top: 0px;  }
    #nav_line{display: none;}
   
    .dmenu div{margin: auto;}
 


}
@media screen and (min-width:930px){
  
    #inlogo{top: -2px }
#inlogo_m{width: 235px;height: 60px; padding-top: 0px}
    #nav_line{ top:16px}
    .dmenu{font-size: 18px;}
    .dmenu img{top: 0px;left: 85%;}
    .dmn1{width: 180px;}
     .dmn1:hover span{width: 130px;}
    .dmn2{width: 150px;}
     .dmn2:hover span{width: 130px;}
    .dmn3{width: 120px;}
     .dmn3:hover span{width: 60px;}
    .dmn4{width: 150px;}
     
    }

@media screen and (min-width:1030px){
       
    #nav_bar{height: 65px;}
        #inlogo{top: -4px }
#inlogo_m{padding-top: 7px;}
  
}



/*  ----------------- start:footer section------------------*/
    

.footer{width: 100%; height: auto; background-color:#fcfcfc;;overflow: hidden;padding-bottom: 3px;box-shadow: 0px 0px 15px 1px hsla(0, 0%, 0%, 0.1); }
.foot1 img{width: 200px;margin: auto;}
.footer p{color: #454545;text-align: center;font-size: 15px;width: 100%;padding: 10px 0px;}
.foot_con{display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 7px;padding-bottom: 0px; border: 1px olid black}
.foot1{border: 1px olid;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.copyright p{font-size: 14px;}
.copyright{  width: 100%;display: flex;justify-content: center;align-items: center;}
.foot2 img{width: 50px;margin: auto}
.foot3,.foot2{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;width: 100%;border: 1px olid;padding: 5px 0px;}
.fooico{display: flex;}
.foot3{display: flex;justify-content: center;align-items: center;}
.foot3 h2{font-size: 20px;text-align: center;}
.fooico img{width: 30px;}


@media screen and (min-width:700px){
    
    .foot1 p{width: auto;margin-top: 20px;text-align: justify;}
    .foot2 p{text-align: justify;}
    .foot
    .foot_con a{font-size: 17px;}
    .foot_con{display: flex;flex-direction: row;justify-content: enter;;align-items: center;}
    
    .ftp_cont{display: flex;}
    .foot1{width: auto;margin: 0px 20px;border: 1px olid black}
    .foot2{width:auto;margin: 0px 20px;border: 1px olid black}
    .foot3{width: auto;margin: 0px 20px;border: 1px olid black}
    .foot3 h2{width: 150px;margin-bottom: 10px;}
    .foot3 img{width: 40px;}
    .copyright{border: 1px olid black}
    .copyright p{width: 100%; margin: auto;font-size: 15px;padding: 10px 0px;}
 
   
    body{padding-bottom: 0px;}
    .foot3 h2,.foot2 h2{font-size: 18px;}
    .foot1,.foot2,.foot3,.copyright{width: 20%;}
}



/*  ----------------- end:footer section------------------*/






