.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/preload.gif) center no-repeat #f9f9f9;background-size: 70px;background-color: white;
    
}
.se-pre-con img{width: 250px;;margin: auto;display: block;margin-top: 165px}
@media screen and (max-width:480px)
    {
      .se-pre-con img{width: 200px;;margin: auto;display: block;margin-top: 100px}
        .se-pre-con {background-size: 60px;background-position: 50% 200px;}    
        
}
/* end pre-load screen*/





.portfull{width: 100%; height: 600px; background-color: #41cab1;display: flex;justify-content: center;flex-direction: column;padding-left: 20px;padding-top: 150px; transition: padding 1s; }
.portfull h1{font-size: 120px; text-align: left; color:#1a9b83;}
.portfull p{font-size: 40px; color: #97efde;}
@media screen and (max-width:1000px){
    .portfull h1{font-size: 80px}
    .portfull p{font-size: 30px}    
}
@media screen and (max-width:500px){
    .portfull h1{font-size: 60px}
    .portfull p{font-size: 25px}    
    .portfull{height: 500px;}
}



body{font-family: 'Ubuntu', sans-serif;}
.port_head{width: auto;display: flex;margin: auto;justify-content: center;align-items: center;margin: 10px 5px; margin: auto;padding-bottom: 5px;padding-top: 10px;}
.port_head a{color: #717171; font-size: 18px;text-align: center;margin: 0px 10px;position: relative;cursor: pointer;}
.port_head a span{font-size: 16px;font-weight: 500;}
.port_head i{display: block; width: 2px; height: 30px; background-color: #717171;}


.portbox{width: 94%; height: 550px;border: 1px olid black;margin: auto; margin-top: 20px; border-radius: 5px;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2),-15px 20px 50px 0px rgba(20, 20, 20, 0.2);margin-bottom: 40px;display: flex;flex-direction: column;}

.portm{width: 100%; height: 350px; }
.portm div{ width: 97%;margin: auto;position: relative; top:5px;height: 340px; background-image: url(images/p1mob.jpg);background-repeat: no-repeat; background-size: cover;border-radius: 5px;}
.portm .portm1{background-image: none;border: 1px solid #b5b5b5;padding-top: 100px;background-color: }


.portm p{text-align:center;font-size: 40px;font-weight: 600;color: #454545;}


.type_ani{animation-name: type_ani;animation-duration: 0.3s;animation-fill-mode: forwards;}


@keyframes type_ani{
    0%{font-size: 40px}
    80%{font-size:45px }
    100%{font-size:40px }
    
}


.portt{height: 200px;width: 100%;display: flex}
.tbox1,.tbox2{width: 50%; height:200px;border: 1px olid black}


.portt .tbox1 div,.portt .tbox2 div {width:100%; height: 50%;border: 1px olid black; display: flex; flex-direction: column;justify-content: center; align-items: center;}
.tbox2 div a{display: flex; flex-direction: column;justify-content: center; align-items: center;cursor: pointer;}
.t1 img{width: 150px;margin: auto }
.urbanlogo img{width: 150px;position: relative;left: 5px;bottom: 15px}
.urbanlogo h3{color: #717171;font-size: 16px;}
.t2{}
.t2 img{width: 50px;margin: auto }
.t2 h2{color: #717171;padding-bottom: 15px; font-size: 18px;text-align: center;}

.t3 img{width: 50px;margin: auto }
.t3 h2{color: #ed6a5a;padding-bottom: 10px; font-size: 18px}
.t3{order: -1;cursor: pointer;}
.menup7{font-size: 17px; color: #f9f9f9; font-family: sans-serif; font-weight: 600; display: block; margin-top: 0px; margin-left: 0px; border-radius: 30px;width: 100px; padding: 10px 20px 10px 10px; background-color:#ED6A5A; background-image: url(images/right.png); background-repeat: no-repeat; background-position:63px; background-size: 25px 25px;transition: width 0.5s, background-position 0.5s, padding 0.5s;height: 40px}

.menup7:hover{background-position: 70px;padding-left:0px; }
.portm div img{display: none;}
 .t4 .current{position: relative; bottom: -5px;color: #717171;}
@media screen and (min-width:480px){
    .t4 .current{position: relative; bottom: 20px;color: #717171;}
    .portt{height: 150px;}
.portbox{height: 500px;}
.tbox1,.tbox2{height: 150px;}
    .portm .portm1{padding-top: 180px;}
       .portm div img{display: block;height: 116%;}
      .portm div {overflow-x: auto;overflow-y: auto; background-image:none;}
    
       .t3{order: -1;}
    .scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}



#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
   height: 3px;
}

#style-2::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
    height: 15px;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #717171;
     
}

    
    
}

@media screen and (min-width:800px){
    .portm div img{display: block;}
    .portbox{display: flex;flex-direction: row;}
    .portm{width: 80%;}
      .portm div{width: 100%;height:480px;left: 10px;top: 10px;}
    
    .portt{width: 20%;height: 500px; display: flex; flex-direction: column;}
    .tbox1,.tbox2{width: 100%; height: 250px; display: flex; flex-direction: column; justify-content: center; align-items: center}
    .t4 a{margin: auto;}
    .portm div img{height: 107%;}
    .portm div {overflow-x: auto;overflow-y: hidden; background-image:none;}
  
    
    
    .scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}



#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
   height: 3px;
}

#style-2::-webkit-scrollbar
{
	width: 100px;
	background-color: #F5F5F5;
    height: 15px;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #717171;
     
}

    
    
}