.port_head{width: auto;display: flex;margin: auto;justify-content: c; border-bottom: 2px solid #717171; enter;align-items: center;margin: 10px 5px; display: inline-flex;margin: auto;le}
.port_head h1{color: #717171; font-size: 18px;text-align: center;margin: 0px 5px; border-right: 2px solid #717171; }
.port_head h1 span{font-size: 16px;font-weight: 500;}