.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../common/images/preload.gif) center no-repeat #f9f9f9;background-size: 130px;background-color: white;background-position: 50% 200px;
    
}

.se-pre-con img{width: 100px;;margin: auto;display: block;margin-top: 165px}
@media screen and (max-width:480px)
    {
      .se-pre-con img{width: 200px;;margin: auto;display: block;margin-top: 100px}
        .se-pre-con {background-size: 90px;background-position: 50% 100px;}    
        
}
 end pre-load screen





/*  ----------------- /s:general things------------------*/

* {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent; /* For some Androids */
}
html{ height: 100%;}
body{background-color: #fcfcfc;}

body * { box-sizing: content-box;  color: #454545;font-family: 'Lato', sans-serif;}
* h1,* h2,* h3{
font-family: 'Lato', sans-serif;}
* p,a{
    font-family: 'Roboto', sans-serif;}
body h1,body h2,body h3,body p {color: #454545;}
a{text-decoration: none !important; color: #c2c2c2; }
body{margin: 0px; min-height: 100%; position: relative; padding-bottom: 00px;}
 h1{
     font-size:24px;}
/** p{font-size: 16px}*/

@media screen and (min-width:750px){
    * p{font-size: 16px}
    
}
a{text-decoration: none !important; color: #454545; }

body.contact  .dmn6 span{width: 120px;}
body.offers  .dmn5 span{width: 90px;}
body.service  .dmn4 span{width: 90px;}
body.product  .dmn3 span{width: 110px;}
body.about-us  .dmn2 span{width: 100px;}
body.home  .dmn1 span{width: 60px;}



/*  ----------------- e:general things------------------*/




/*topnav*/
.top-nav{
   display: none;
}

@media (min-width:600px){
    .top-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 10px;
       height: 30px;
        background-color: #343434;
    }
    .top-nav a{font-size: 16px;font-weight: 500}
    .lft-prt img{
        width: 20px;
            position: relative;
    top: 4px;
            
    }
    .rgt-prt a,.lft-prt a{
        color: #fcfcfc !important;
    }
    .rgt-prt,.lft-prt{
        padding: 0px ;
        
    }
    .rgt-prt a img{
        width: 25px;
        filter: grayscale(100%);
    }
    .lft-prt{
        display: flex;
        flex-direction: row;
        width: 360px;border: 1px olid black;
       justify-content: space-between;
    }
}
@media (min-width:1000px){
    .lft-prt{
        display: flex;
        flex-direction: row;
           }
}
@media (min-width:1300px){
    .lft-prt{
        display: flex;
        flex-direction: row;
       
    }
}

/*topnav*/


/*&& s:navigation bar &&*/
.dmn3,.menu3{cursor: pointer;}
#nav_bar{width: 100%; height: 55px;  box-shadow: 0px 0px 2px 1px hsla(0, 0%, 0%, 0.1);  z-index: 10; position: relative;transition: box-shadow 0.5s;


background-color: #fcfcfc;

    
    


}


/* s: mnav*/
#nav_line{ width: 35px; height: 35px; margin: 0px; padding: 0px; position: absolute; right: 20px; top: 13px;z-index: 8; }
.line{list-style: none; border: 2px solid #454545; margin: 5px 0px; position: relative; transition:  rotate 1s, top 1s, bottom 1s, opacity 0.4s; }
/*
.l1{transform: rotate(15deg);top: 9px;}
.l2{transform: rotate(15deg);}
.l3{transform: rotate(15deg);bottom: 9px;}*/

.main_menu{display: none;}
#inlogo{position: absolute; left:2%;top: -10px }
#inlogo_m{border: 1px olid black; width: 165px; height: 55px; margin: auto; display: block; padding-top: 10px; box-sizing: content-box;  }

/* s: menu lines ani */
#nav_line{transform: rotate(00deg)}
.lopen1{animation-name: lt1;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lopen2{animation-name: lt2;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lopen3{animation-name: lt3;animation-duration: 0.7s;animation-fill-mode: forwards;}

.lclose1{animation-name: lct1;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lclose2{animation-name: lct2;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lclose3{animation-name: lct3;animation-duration: 0.7s;animation-fill-mode: forwards;}
@keyframes lt1{
    0% {transform: rotate(0deg);top: 0px;}
    30%{transform: rotate(20deg);top: 9px;}
     100%{transform: rotate(315deg);top: 9px;}
}
@keyframes lt2{
    0% {transform: rotate(0deg);}
   30%{transform: rotate(20deg);}
     100%{transform: rotate(225deg);}
}
@keyframes lt3{
    0% {transform: rotate(0deg);bottom: 0px;}
   30%{transform: rotate(20deg);bottom: 9px;}
     100%{transform: rotate(225deg);bottom: 9px;}
}

@keyframes lct1{
    
     0%{transform: rotate(315deg);top: 9px;}
        70%{transform: rotate(20deg);top: 9px;}
    100% {transform: rotate(0deg);top: 0px;}    
}
@keyframes lct2{
    0%{transform: rotate(225deg);}    
    70%{transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
     
}
@keyframes lct3{
     00%{transform: rotate(225deg);bottom: 9px;}
     70%{transform: rotate(20deg);bottom: 9px;}
   100% {transform: rotate(0deg);bottom: 0px;}      
}

/* e: menu lines ani */
/*  && e:navigation bar &&*/
/*  && e:navigation bar &&*/
    
/* start: menu listing */
.menu_con{width: 100%; height:1000px; background-color: #fcfcfc;display: none;padding-top: 70px;position: fixed;z-index: 2;transition: transform 0.5s, opacity 0.5s;position: relative;overflow: hidden;}

.black_lay{width: 130%; height: 100%; background-color: #2d2d2d;position: absolute;left:100%;top: -50px; transition: left 1s;   z-index: 6; }


.mn img{width: 30px;position: relative; left:-8px;top: 3px;}
.mn,.pmn{font-size: 24px;color: #2d2d2d;font-family: sans-serif;display: block; margin-bottom: 20px;margin-left: 20px;letter-spacing: 2px;font-weight: 600; opacity: 1;position: relative;transition: color 0.3s;font-family: 'Ubuntu', sans-serif;}
.prod_menu{display: none;}
.pmn{font-size: 18px;font-weight: 500;margin-left: 40px;opacity: 1}
.phead{font-size: 34px; font-weight: 600;margin-left: 12px;}
.prodrow{display: flex;justify-content: flex-start
;align-items: center;border: 1px olid black}
.prodrow img{width: 25px;position: relative;top: 5px;left: -5px; }


.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover,.menu5:hover,.menu6:hover{color: #25C485;}


.a{transform: scale(1.05);}



/* end: menu listing */


.blackani{animation-name: za;animation-duration: 1.3s;animation-fill-mode: forwards;}

@keyframes za{
    from{left: 100%; }
    to{left: -130%; }
}

.dmn1,.dmn2,.dmn3,.dmn4,.dmn5,.dmn6{display: none;}

.b{transform: scale(1.05);}


@media screen and (min-width:900px){
    .dmn1,.dmn2,.dmn3,.dmn4,.dmn5,.dmn6{display: flex;}
   
   /* start:p_menu */

.pmenu{width: 250px; height: auto; border: 1px solid #F06543;position: absolute;border-radius: 10px;background-color: #f9f9f9;top: 60px;left: -20px; display:none;z-index:-1;}
    .dmenu p{color:#454545}
.pmenu a{padding-left: 10px;border-bottom: 1px #b5b5b5 solid; color: #343434;display: block;margin: 3px;padding: 5px 0px 5px 10px;color: #676C6F;font-family: 'Slabo 27px', serif;font-size: 16px;font-family: 'Roboto', sans-serif;transition: border-bottom 0.5s;}
   .hover_track{width: 140px; height:  40px; position: absolute;left: -10px;top: 20px; }
    .pmenu{animation-name: pmenuop;animation-duration: 1s;animation-fill-mode: forwards;}
 .dmn3:hover .pmenu{display: block}
    .pmenu a:hover {border-bottom: 1px solid #F06543;color: #F06543 }
    @keyframes pmenuop {
        from{opacity: 0;}
        to{opacity: 1;}
        
    }

#border_ex{border-bottom: 0px;}

/* end:p_menu */
    .dmenu_con,.menuarray{display: flex;justify-content: center;align-items: center;border: 1px olid}
    .dmenu_con{justify-content: space-between}
    .dmenu{border: 1px olid black;  height:auto;margin: auto 5px;font-size: 15px;position: relative;display: flex;justify-content: center;flex-direction: column;border: 1px olid black}
    
      .dmenu span{border-bottom: solid 2px #454545;width: 0px;margin: auto;transition: width 0.5s;display: ;}
    .dmn1{width: 40px;}
     .dmn1:hover span{width: 40px;}
    .dmn2{width: 90px;}
     .dmn2:hover span{width: 80px;}
    .dmn3{width: 100px;}
     .dmn3:hover span{width: 90px;}
    .dmn4{width: 90px;}
     .dmn4:hover span{width: 80px;}
    .dmn5{width: 90px;}
     .dmn5:hover span{width: 80px;}
    .dmn6{width: 120px;}
     .dmn6:hover span{width: 110px;}
    .menu_con{display: none; }
    .dmenu img{width: 23px;border: 1px olid black; position: absolute;left: 82%;top: -3px}
    #inlogo{position: relative
    ;left:0%;top: 0px }
    #inlogo_m{  padding-top: 0px;  }
    #nav_line{display: none;}
   
    .dmenu div{margin: auto;}
 


}
@media screen and (min-width:930px){
  
    #inlogo{top: -2px }
#inlogo_m{width: 235px;height: 60px; padding-top: 0px}
    #nav_line{ top:16px}
    .dmenu{font-size: 18px;}
    .dmenu img{top: 0px;left: 85%;}
    .dmn1{width: 60px;}
     .dmn1:hover span{width: 60px;}
    .dmn2{width: 100px;}
     .dmn2:hover span{width: 100px;}
    .dmn3{width: 120px;}
     .dmn3:hover span{width: 110px;}
    .dmn4{width: 90px;}
     .dmn4:hover span{width: 90px;}
    .dmn5{width: 90px;}
     .dmn5:hover span{width: 90px;}
    .dmn6{width: 120px;}
     .dmn6:hover span{width: 120px;}
}

@media screen and (min-width:1030px){
       
    #nav_bar{height: 65px;}
        #inlogo{top: -4px }
#inlogo_m{padding-top: 7px;}
  
}



/*  ----------------- start:footer section------------------*/
    

.footer{width: 100%; height: auto; position: bsolute; bottom: 0px;background-color:#454545;;overflow: hidden;padding-bottom: 3px}
.footer img{width: 200px;margin: auto;}
.footer p{color: #fcfcfc;text-align: center;font-size: 14px;width: 80%;}
.foot_con{display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 7px}
.foot1{margin: uto;border: 1px olid;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.copyright p{color: #f9f9f9; text-align: center;font-size: 14px;}
.copyright{width: 100%; border: 1px olid black;  bottom: 0px;width: 100%;padding: 8px;border: 1px olid;display: flex;justify-content: center;align-items: center;background-color: #867a6f}
.foot3,.foot2{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;width: 100%;border: 1px olid;padding: 5px 0px;}
.foot3 h2,.foot2 h2{text-align: left;color: #fcfcfc;font-size: 16px;font-weight: 600;padding-left: 5px;margin-bottom: 5px;padding-bottom: 7px;border-bottom: 1px solid #b5b5b5}
.foot3 a,.foot2 a{text-align: left;padding-left: 5px;color: #fcfcfc;margin: 4px 0px}
    .ftp1,.ftp2{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;margin-right: 30px}

@media screen and (min-width:700px){
    .foot1 p{width: 220px;margin-top: 20px;}
    .foot_con a{font-size: 17px;}
    .foot_con{display: flex;flex-direction: row;justify-content: center;;align-items: flex-start;}
    .ftp1,.ftp2{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;margin-right: 30px}
    .ftp_cont{display: flex;}
    .foot1{width: auto;margin: 0px 30px}
    .foot2{width:auto;margin: 0px 30px}
    .foot3{width: auto;margin: 0px 30px}
    .copyright{width:100%;}
    .copyright p{width: 100%; margin: auto;font-size: 15px;padding: 10px 0px;}
 
   
    body{padding-bottom: 0px;}
    .foot3 h2,.foot2 h2{font-size: 19px;}
}


/*  ----------------- end:footer section------------------*/






