/* start: pre loading screen */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/preload.gif) center no-repeat #f9f9f9;background-size: 70px;background-color: white;
    
}
body p{font-family: 'Roboto', sans-serif;}
body h1,body h2,body h3{font-family: 'Open Sans', sans-serif;}
.se-pre-con img{width: 250px;;margin: auto;display: block;margin-top: 165px}
@media screen and (max-width:480px)
    {
      .se-pre-con img{width: 200px;;margin: auto;display: block;margin-top: 70px;}
        .se-pre-con {background-size: 60px;background-position: 50% 200px;}    

}
@media screen and (max-width:480px){

.se-pre-con {
	
    background-position: 50% 40%;
}
#expose{ font-size: 300%; margin-top: 80px;}
    #load{  font-size: 200%; margin-top: 140px;}

}
/* end: pre loading screen */
body,p{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    
}
*{
    /*border: 1px solid;*/
}
.pacific{
    font-family: 'Pacifico';
}
.sub-para p{
        font-size:45px;
   
    }
.sub-para p{
        margin: 0;
    padding: 0 10px;
}
.bis-a p{
    font-size: 25px;
        position: relative;
    left: 15px;
   
}
 .sub-bck{
        background: #454545;
     color: #fcfcfc;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
         align-items: center;
    }
.bis-list{
        display: flex;
        flex-direction: column;
    margin: 10px auto;
    }
.bis-a{
        display: flex;
    flex-direction: row;
        align-items: center;
    }

.bis-a img{
        width: 10%;
    }
/*mobile-subban*/
@media only screen and (max-width:768px){
    .sub-bck{
        background: #454545;
        color: #fcfcfc;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub-para p{
        font-size: 22px;
    }
    .bis-list{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bis-a p{
    font-size: 15px;
        position: relative;
    left: 0px;
        margin-bottom: 10px;
        color: #fcfcfc !important;
}
    .bis-a{
        display: flex;flex-direction: column;
        align-items: center;
    }
    .bis-a img{
        width: 20%;
    }
    
}
/*mobile-subban*/
@media only screen and (min-width:769px){
    .bis-a p {
    font-size: 16px;
    position: relative;
    left: 15px;
}
     .sub-para p{
        font-size: 28px;
    }
}
@media only screen and (min-width:1080px){
    .bis-a p {
    font-size: 25px;
    position: relative;
    left: 15px;
}
    .sub-para p {
    font-size: 45px;
}
}
/*normal-prin*/
.btn-prin{
    padding: 0 50px;
}
.bor-lnee{
    position: absolute;
    top: 10%;
    left: 49.6%;
    height: 80%;
    border-left: 6px solid #19647e;
}
.btn-n{
    border: 0;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fcfcfc;
    border-radius: 15px;
    background: #19647e;
        margin-top: 10px;
}
.prin-main{
        display: flex;
        flex-direction: row;
    padding: 0 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    }
.ful-born{
    background: #fff;
    display: flex;
  box-shadow: 5px 5px 30px 2px rgba(20, 20, 20, 0.2);
}
    .col-6{
        width: 50%;
    }
    
    .img-pr img{
        height: 90%;
        display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .img-pr{
        background: #ffff;
            height: 400px;
        display: flex;
    }
    .pr-int{
        background:#ededed;
        display: flex;
        flex-direction: column;
         
    }
    .print-bor{
        /*border: 5px solid #19647e;
         padding: 0px;
        display: block;*/
    }
    .print-hd h3{
        text-align: center;
        background:#ededed;
        color: #454545;
        /*position: relative;
        top: -50px;
        font-size: 25px*/
    }
    .print-head h3{
    color: #454545;
    padding: 0 50px;
    }
    .print-para p{
        text-align: justify;
        padding: 0 50px;
        /*line-height: 25px;*/
        font-size: 18px;
        color: #454545;
    }
.print-hd {
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 5px solid #19647e;
}
.print-bor {
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
.inr-bor-txt{
    background:#ededed;
    position: relative;
    top: -1em;
    padding:0 20px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}
.inr-bor-txt h3 {
    color:#19647e; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
/*mobile-printer-ban*/

@media only screen and (max-width:1140px){
.inr-bor-txt h3 {
    color: #19647e;
    font-size: 16px !important;
    }
}
@media only screen and (max-width:1300px){
.inr-bor-txt h3 {
    color: #19647e;
    font-size: 17px !important;
    }
}
@media only screen and (max-width:790px){
.inr-bor-txt h3 {
    color: #19647e;
    font-size: 14px !important;
    }
}
 
    @media only screen and (max-width:1340px){
.inr-bor-txt h3 {
    color: #19647e;
    font-size: 21px;
    }
}
@media only screen and (max-width:528px){
    .prin-main{
        display: flex;
        flex-direction: column;
        padding: 0 10px !important;
        width: 95%;
    }
}
@media only screen and (max-width:768px){
    .prin-main{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .bor-lnee{
        display: none;
    }
    .print-hd {
     width:unset;
    }
    .ful-born{
    background: #fff;
    display: flex;
        flex-direction: column;
}
    .col-6{
        width: 100%;
    }
   
    .img-pr img{
       /* width: 100%;*/
    }
    .img-pr{
        background: #ffff;
        height: 300px;
    }
    .inr-bor-txt {
    background: #ededed;
    position: relative;
    top: -0.5em;
    padding: 0 7px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
}
    .pr-int{
        background:#ededed;
        display: flex;
        flex-direction: column;
    }
   
    .print-hd h3{
        text-align: center;
        background:#ededed;
    }
    .print-head h3{
       
        padding: 0 10px;
        font-size: 14px;
    }
    .print-para p{
        text-align: justify;
        padding: 0 10px;
    }
    .btn-prin{
        padding: 0 10px;
    }
    .btn-n{
        margin-bottom: 10px;
    }
}
/*printer-ban*/
/*product*/

.prd-one:hover .prd-an a {
    color: #fcfcfc;
}
.prd-one:hover {
    background: #454545;
    color: #fcfcfc;
    transition: 0.2s all linear;
}
.prd-sep-clr{
    color: #19647e;
}
.prd-headg{
    color: #454545;
    text-align: center;
}
.prd-con{
        display: flex;
        flex-direction: row;
    padding: 0 60px;
    }
.prd-con .btn-prin{
    margin-bottom: 10px;
}
    .prd-row {
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: center;
    align-items: center;
}
    .prd-one{
        background:#ededed;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        width: 90%;
      height: 320px;
        transition: background-color 1s;
    }
    .prd-two{
        background:#454545;
    }
    .prd-tw a, .prd-two h2{
        color: #fcfcfc;
    }
    .prd-an{
        display: flex;
        flex-direction:column;
            text-align: center;
    }
    .prd-an a{
        font-size:15px;
        /*padding: 15px;*/
        line-height: 30px;
    }
.hed-pr h2 {
    font-size: 20px;
}
.btn-n a {
    color: #fcfcfc !important;
}
/*mobile-view*/
@media only screen and (min-width:600px){
    .btn-n{
        font-size: 13px;
        margin-bottom: 10px;
    }
    
}
@media only screen and (max-width:700px){
    .prd-con{
        display: flex;
        flex-direction: column;
         padding: 0;
    }
    .hed-pr h2 {
    font-size: 18px;
            text-align: center;
}
    .btn-n{
        font-size: 13px;
        margin-bottom: 10px;
    }
    .prd-row{
        width: 100%;
    }
    .prd-one{
        background:#ededed;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
         height:350px;
    }
    .prd-two{
        background:#454545;
    }
    .prd-tw a, .prd-two h2{
        color: #fcfcfc;
    }
    .prd-an{
        display: flex;
        flex-direction: column;
        
    }
    .prd-an a{
        font-size:18px;
       line-height: 35px;
        text-align: center;
    }
}
/*mobile-view-end*/
/*product-end*/

/*s: inter*/
.intr h1{font-size: 24px;text-align: center;margin: 10px 0px;}
.intr span{color: #F39237;}
.intr p{padding: 5px;}
.inbox p{font-size: 17px;}
.intrb{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.inbox{width: 130px;height: 130px;border: 1px solid #b5b5b5;display: flex;flex-direction: column;justify-content: space-between;align-items: center;margin: 5px;}
.inbox img{width: 70px;}
.inbox p{text-align: center;}
.intr{background-color:#F9F9F9;padding: 15px 0px;}

@media screen and (min-width:800px){
    .intr{display: flex;border: 1px olid;justify-content: center;align-items: center} 
    .intmidline{height: 230px;width: 5px;background-color: #F39237;order: 2}
    .intrt{order: 3;width: 25%;padding-bottom: 40px;}
    .intrb{padding-right: 20px;}
    .intrt h1,.intrt p{text-align: left;padding-left: 20px;}
}
    @media screen and (min-width:1200px){
        .intr{padding: 50px;}
    .inbox p{font-size: 20px;}
    .intrt h1{font-size: 40px;}
    .inbox{width: 200px;height: 200px;justify-content: flex-start}
    .inbox img{width: 130px;}
    }



@media screen and (min-width:1000px){
    #intj{opacity: 0;position: relative;left: 50px;transition: opacity 1s, left 1s;}
        
}

/*e: inter*/




/*s: Testimonial*/


/* s: tesi*/





   
.testi{width: 100%; height: auto;  border:1px olid green;overflow: hidden;padding: 0px 0px;padding-bottom: 50px;margin-top: 0px;}
.testi h1{color: #F39237;font-size: 23px;text-align: center;margin-bottom: 50px;border: 1px olid;}
.testi span{color: #454545}



.tall{ width: 90%;;border-radius: 5px; height: auto; background-color: #fcfcfc;font-size: 18px;padding:10px 10px;;box-shadow: 15px 10px 40px 0px rgba(20, 20, 20, 0.2);position: relative;margin: 10px;margin: 10px auto; animation-name: tsani;animation-duration: 1s; animation-fill-mode: forwards;}
.tquote{width: 50px; height: 50px;border-radius: 50%;display: flex;position: absolute;right: 10px;top: -30px;border: 2px solid #2193A8;background-color: #fcfcfc

}
.tall h2{font-size: 18px;padding-bottom: 10px;}
.tquote img{width: 50%;margin: auto}

    .tds{display: none;}
 
.psidehd{display: none;}
@media screen and (min-width:880px){
    .testihd{display: none;}
    .tbase{background-image: url(images/tbg.jpg);}
    .tblock{display: flex;width: 90%;justify-content: center;align-items: flex-start;padding-top: 100px;}
    .tblock p{font-size: 17px;}
    .testi{padding-bottom: 0px;border: 1px olid;padding-top: 0px;background-color: #ffffff;height: 400px;}
    .tall{width: 28%;box-shadow: one;background-color: #FcFcFc;border-radius: 5px;margin: 10px;min-height: 210px;}
    .tbase{display: flex;justify-content: space-between;}
    .psidehd{width: 100px; height: 400px;
    
    background: #F39237; display: block

    }
    .psidehd h1{color: white;width: 330px; transform: rotate(-90deg);position: relative;left: -182px;top: 150px;color: #F39237;font-size: 40px;border: 1px olid black;}
    .psidehd h1 span{position: relative;top: 25px;left: -10px; color: white;font-family: 'Lato', sans-serif;font-size: 45px;}
    #psidehdj{top: 200px;opacity: 0;transition: opacity 1s, top 1s;}
}




@media screen and (max-width:880px){
  
.tswitch,.wswitch{width: 60%; height: 50px;border: 1px olid;margin: auto;margin-top: 30px;display: flex;justify-content: space-between;align-items: center;}
.tswit,.wswit{width: 30px; height: 30px; border-radius: 50%; background-color: #454545;display: flex;}
.tsin,.wsin{width: 20px; height: 20px;background-color: #454545;border-radius: 50%;margin: auto;border: 3px solid #fcfcfc;box-sizing: content-box}



@keyframes tsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}


@keyframes wsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}

}


/*e: Testimonial*/

