.fot-btl{
    border-bottom: 3px solid #9b3236;
    color: #454545;
}
.sep-clr{
   color: #9b3236; 
}
h1{
    font-size: 18px;
    color: #454545;
}
p {
    font-size: 15px;
    color: #454545;
}
@media(min-width:600px){
   h1{
    font-size: 22px;
    font-weight: 500;
} 
    p {
    font-size: 18px;
}
}