body{font-family: 'Slabo 27px', serif;background-color: white; }
.cam{width: 100%;height: 300px; position: relative;display: block;background-image: url(images/cam.jpg);background-repeat: no-repeat;background-size: cover;background-position: 0px -50px;margin-bottom: 50px;}

@media screen and (min-width:490px){
.cam{background-position: 0px -250px;}
}
@media screen and (min-width:700px){
.cam{background-position: 0px -250px;height: 500px;background-image: url(images/camdesk.jpg);background-position: 0px 0px;}
}
b{font-family: 'Ubuntu', sans-serif;}
.board{width: 250px; height: 200px;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2),-15px 20px 50px 0px rgba(20, 20, 20, 0.2);margin: auto;position: relative; bottom: 100px;z-index: 1px;background-color: #fcfcfc;padding-top: 25px;}
.board img{width: 200px;margin: auto;display: block;}
.board p{font-size: 20px;color: #454545;padding: 0px 5px;margin-top: 10px;text-align: center;}
.hpset{margin-bottom: 20px;}
.hpset h1{padding: 0px 10px;color: #343434; display: inline;font-family: 'Ubuntu', sans-serif;}
.hpset p{padding: 10px 10px;color: #454545;font-size: 20px}
.hset{width: 100px;border: 1px olid}
.hset div{width: 100%; height: 2px; background-color: #343434;}
.hset_req{width: 250px;}
.hset_out{width: 300px;}
.hset h1{font-size: 23px;}
.hset_test{width: 150px;}
.aruva{width: 150px; height: 150px;border-radius: 50%;overflow: hidden;margin: auto;margin-top: 20px;box-shadow: -1px -1px 3px 0px rgba(20,20,20,0.1);}
.aruva img{width: 100%;}

@media screen and (min-width:700px){
    
    .hpset{display: flex;margin: auto;width: 80%;margin-bottom: 30px;}
    .hset{display: flex;flex-direction: column;border: 1px olid;width: 300px;padding-top: 15px;}
    .hset h1{text-align: center;}
    .hset div{width: 250px;}
    .hset div{order: -1;}
    .aruva{display: flex;flex-direction: column;}
}



/*start: build*/

.build_con{width: 100%; height: 400px;overflow: hidden; background-image: url(images/s1b.svg);position: relative;display: flex;justify-content: center;flex-direction: column;align-items: flex-end;padding-right: 00px;background-color: white;box-shadow: inset 1px 5px 12px 1px hsla(0, 0%, 0%, 0.1);}
.build_txt{width: 60%;border: 1px olid;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.build_con img{position: absolute;left: -150px;top: -0px;opacity: 0; transition: opacity 1s, left 1s,top 1s;}




.build_con h1{text-align:center;font-size: 40px;color: #454545;}
.menu7a{font-size: 20px; color: #f9f9f9; font-family: sans-serif; font-weight: 600; display: block; margin-top: 20px; margin-left: 20px; border-radius: 30px;width: 175px; padding: 10px 0px 10px 20px; background-color:#ED6A5A; background-image: url(images/right.png); background-repeat: no-repeat; background-position:142px; background-size: 30px 30px;transition: width 0.5s, background-position 0.5s, padding 0.5s,opacity 0.5s, transform 0.5s;}

.b{transform: scale(1.05);}

.menu7a:hover{background-position: 146px;padding-left:15px; }
@media screen and (max-width:900px){
    
    .build_con h1{font-size: 30px}
    .build_txt{width: 50%}
    .build_con img{position: absolute;left: -150px;top: -100px}
}
@media screen and (max-width:600px){
      .build_con img{width: 500px; position: absolute;left: -150px;top: -200px;transform: rotate(90deg);opacity: 0;}
     .build_txt{padding-top: 400px;width: 100%;padding-left: 5px;padding-right: 5px;}
    .build_con{height: auto;padding-bottom: 40px}
    
}
/*end: build*/
