.sec1 p{color: #388697;font-family: sans-serif;margin:  25px 0px;font-size: 38px}
.sec1{width: 100%;height: 350px; background-color: #fcfcfc;padding-top: 20px}

.www_con *{border: 1px olid black;}
.www_con{width: 100%; height: 400px;}
.www1{width: 100%; height: 50px;display: flex;justify-content: center;align-items: center}
.www1 div{width: 2px; height: 50%; background-color: #717171;}
.www1 p{font-size: 23px; font-family: sans-serif;margin: 5px}
.whoh{color: #717171;}
.whohc{color: #f9d63c;}
.whyh{color: #717171;}
.whyhc{color: #ed775b;}
.whath{color: #717171;}
.whathc{color: #41CAB1;}

.www2 p{font-size: 18px;padding: 10px 5px;color: #454545}
.www2{width: 100%; height: auto;position: relative;}
.www2 p span{font-size: 150px; position: absolute;left:6%;font-family: sans-serif;z-index: -1; opacity: 0.6;}
.whop{display: non;}
.whyp{display: none;}
.whatp{display: none;}

.whop span{ color: #f9de70;}
    .whyp span{color: #ed9784;top: 80px}
    .www2 .whatp  span{color: #a1dddd;font-size: 100px;left: 40px}