body {border: 1px solid black;}

/* start: sec1*/
.sec1 p{color: #fcfcfc;font-family: sans-serif;margin:  25px 0px;font-size: 38px}
.sec1{width: 100%;height: 350px; background-color: #41CAB1;padding-top: 20px}
/* end: sec1*/

/* start: www*/

.www_con{width: 100%; height: auto;padding: 20px 5px;}
.www1{width: 100%; height: 50px;display: flex;justify-content: center;align-items: center}
.www1 div{width: 2px; height: 50%; background-color: #717171;}
.www1 p{font-size: 23px; font-family: sans-serif;margin: 5px}
.whoh{color: #717171;}
.whohc{color: #f9d63c;}
.whyh{color: #717171;}
.whyhc{color: #ed775b;}
.whath{color: #717171;}
.whathc{color: #41CAB1;}

.www2 p{font-size: 18px;padding: 10px 5px;color: #454545;text-align: justify;}
.www2{width: 100%; height: auto;position: relative;}
.www2 p span{font-size: 150px; position: absolute;left:6%;font-family: sans-serif;z-index: -1; opacity: 0.6;}
.whop{display: non;}
.whyp{display: none;}
.whatp{display: none;}

.whop span{ color: #f9de70;}
    .whyp span{color: #ed9784;top: 80px}
    .www2 .whatp  span{color: #a1dddd;font-size: 100px;left: 40px}

/* end: www*/

/* start: m and v*/

.mv_con{width: 100%;;padding: 15px 5px;display: flex;flex-direction: column; color: #454545;}
.mv_con h1{text-align: center;font-size: 70px;font-family: sans-serif;color: #343434;}
.mv_con p{font-size: 20px; color: #388697}
.mv_con div{margin: 20px 0px}


/* end: m and v*/

/*start: core values*/

.core{width: 100%; height: auto;display: flex;flex-direction: column;}
.core h1{font-family: sans-serif}
.core div{width: 100%; height: auto; }
.core_h{ text-align: center; color:#66aab7; font-family:sans-serif; font-size: 30px;margin-bottom: 10px;margin-top: 30px}
.core_h span{color: #388697;font-size: 50px; text-decoration: underline}
.c1{background-color:#ED6A5A;padding: 20px 0px; }
.c2{background-color:#FFE66D;padding: 20px 0px; }
.c3{background-color:#41CAB1;padding: 20px 0px; }
.c1 p,.c2 p,.c3 p{color: #fcfcfc;font-size: 20px;padding: 5px 5px;}
.c2 p{color: #454545;}
.c1 h1{background-color: #454545;  margin-right: 130px;padding-left: 10px; color: #fcfcfc;}
.c2 h1{background-color: #fcfcfc;  margin-right: 130px;padding-left: 10px; color: #454545;}
.c3 h1{background-color: #454545;  margin-right: 130px;padding-left: 10px; color: #fcfcfc;}
.c1 #c11{color:#ED6A5A; background-color: white; margin-right: 210px}
.c2 #c21{color:#ffe66d; background-color: #454545; margin-right: 190px}
}
#c22{margin-right: 170px}
#c23{margin-right: 210px}


.c3 #c31{color:#41CAB1; background-color: white; margin-right: 230px}
#c32{margin-right: 190px}
#c12{margin-right: 170px}
#c13{margin-right: 190px}

/*end: core values*/

/*start: found*/

.found{width: 100%; height: 600px;position: relative;overflow: hidden;}
.pic{width: 100%; height: 400px;}
.found .pic img{width: 100%;position: relative; bottom: 50px}
.lay{width: 100%; height: 190px; position: absolute; top: 0px;left: 0px;top: 320px}
.lay h1{background-image: url(images/found.png);background-repeat: no-repeat;background-size: contain;color: rgba(1,1,1,0.5); height: 70px; width: 100%;}
.det{position: relative; left: 0px;top: -10px; width:100%;; height: auto;background-color: #ED6A5A;color: #fcfcfc;padding: 0px 10px}
.det_pos{font-weight: 600;margin-bottom: 10px}
/*end: found*/
