/* s: 


/*gallery*/
.tr-bx img{
    width: 100px;
}
.chck{
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
}
.chck p{
    margin: 5px;
}
.chck img{width: 15px;
    /*border: 1px solid;*/
    height: 20px;
    position: relative;
    top: -8px;
}
.fligt-con{
    width: 260px;
    margin: auto;
    border:5px solid #ffffff;
}
.fligt-con img{
    width: 100%;
    vertical-align: middle
    
}
.galar-main{
    background: #f6f8f9;
}
.tr-bx p{
    text-align: center;
    
}
.tr-bx{
    border-bottom: 0px solid;
}
.tr-bx::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    transform: rotate(180deg);
    border-color: #ebeef0 transparent transparent transparent;
    opacity: 0;
}

.galar-con{
    padding: 0px 5px;
   
}
.gala-imgs{
        display: flex;
        flex-direction: column;
     animation: fun 1s;
    }
@keyframes fun{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.gala-act{
        display: flex;
        width: px;
        flex-direction: column;
        justify-content: center;
        /*flex-wrap: wrap;*/
    
    }
.div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.tr-bx{
    width: 120px;
     margin: 0 0px;
    display: flex;
    flex-direction: column;
  position: relative;
    align-items: center;
     border-bottom: 3px solid #ebeef0;
}
/*.tr-bx:hover.tr-bx::after{
    opacity: 1;
}*/
.tr-bx:focus .tr-bx::after{
    border-color:#ffc527;
}
.tr-bx1::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    transform: rotate(180deg);
    border-color: #ffc527 transparent transparent transparent;
    opacity: 1;
}
.hil{
    background-image: url(images/hillw.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: background 1s;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;transition: 0.5s;
}
.hil1{ background-image: url(images/hillc.svg);}
.wid{
    background: url(images/wildw.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: background 1s;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}
.wid1{background-image: url(images/wildc.svg);}
.templ{
    background: url(images/templew.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: background 1s;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}
.templ1{background-image: url(images/templec.svg);}
.hony{
    background: url(images/honeyw.svg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    transition: background 1s;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}
.hony1{
   background-image: url(images/honeyc.svg); 
}
@media (min-width:600px){
    
    .galar-main{
        padding: 50px 0px;
    }
    .tr-bx{
    border-bottom: 3px solid #ebeef0;
    width: 130px;
     margin: 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .tr-bx p{
    color: #777;
        font-weight: 700;
    }
    .galar-con{
    padding: 0px 50px;
}
    .gala-act{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
.div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
    
    .fligt-con{
    width: 400px;
    margin: auto;
    border:10px solid #ffffff;
}
.fligt-con img{
    width: 100%;
    vertical-align: middle;
    
}
    .chck img{width: 15px;
    /*border: 1px solid;*/
    height: 20px;
    position: relative;
    top: 0px;
}
    .txt-gala p{
        color: #a2a3a3;
        font-size: 15px;
    }
}
@media (min-width:800px){
    .txt-gala{
        width: 600px;
        padding: 10px 0px
    }
    .txt-gala *{
        padding: 3px 0px
    }
    .tr-bx{
    border-bottom: 3px solid #ebeef0;
    width: 190px;
     margin: 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .gala-imgs{
        display: flex;
        flex-direction: row;
        
    }
}
@media (min-width:1000px){
    .tr-bx{width: 240px;}
    .galar-con{
        padding: 0px 150px;
    }
}
@media (min-width:1250px){
    .tr-bx{width: 280px;}
}
/*gallery*/