body *{
  box-sizing: content-box;
    font-family: 'Lato', sans-serif;
    color: #454545;
}

 h1{
    font-size:25px;
     margin: 0;
}

body{
     margin: 0;
}
a{
   text-decoration: none; 
}
/*topnav*/
.top-nav{
   display: none;
}

@media (min-width:700px){
    .top-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
       height: 25px;
    }
    .lft-prt img{
        width: 20px;
            position: relative;
    top: 4px;
    }
    .rgt-prt,.lft-prt{
        padding: 0px 
    }
    .rgt-prt a img{
        width: 25px;
        filter: grayscale(100%);
    }
    .lft-prt{
        display: flex;
        flex-direction: row;
        width: 40%;
       justify-content: space-between;
    }
}
@media (min-width:1000px){
    .lft-prt{
        display: flex;
        flex-direction: row;
        width: 30%;
    }
}
@media (min-width:1300px){
    .lft-prt{
        display: flex;
        flex-direction: row;
        width: 25%;
    }
}

/*topnav*/
/*navigation*/
.brand h1{
    color: #fff;
}
.mobile{position: relative;
  background:#000; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border-bottom: 2px solid #fff;*/
    z-index:2;
    height: 50px;
}

.bar{
    position: absolute;
    left: 0;
    padding: 0 5px;
    /*transition: 0.2s;*/
}
 .to-bar{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}
.mnu-web{
    display: none;
}
.mnu-web a:hover{
    border-bottom: 2px solid #fcfcfc;
    transition: 0.4s;
}
.mnu-list{
    display:none;
    position: absolute;
    width: 100%;
    left: -100%;
    z-index: 5;
 
 -webkit-transition: 0.7s;
 -moz-transition: 0.7s;
 -o-transition: 0.7s;
 -ms-transition: 0.7s;
    transition: 0.7s;
}
.mnu-list a{
   color: #000;
    padding: 10px;
    border-bottom: 2px solid #fff;
    display: block;
   text-align: center;
     background: #fff;
}

.btn-mnu{
    border: 2px solid #fcfcfc;
    padding: 0 20px;
    border-radius:10px;
}
@media only screen and (min-width:550px){
    .bar{
        display: none;
    }
    .mobile{
       align-items: flex-start;
    }
    .brand h1{
        padding: 0 10px;
    }
    .mnu-list{
        display: none;
    }
    .mobile{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
            padding: 10px 0;
    }
    .mnu-web{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       width: 70%;
        padding:15px;
    }
    .mnu-web a{
        color: #fff;
    }
    .brand{
        padding: 6px;
    }
}
@media only screen and (min-width:900px){
    .mnu-web{
    width:40%;
}
}
/*navigation end*/
/*  ----------------- start:footer section------------------*/
    


.footer{width: 100%; height: auto; background-color:#fcfcfc;;overflow: hidden;padding-bottom: 3px;box-shadow: 0px 0px 15px 1px hsla(0, 0%, 0%, 0.1); }
.foot1 img{width: 20px;margin: auto;}
.footer p{color: #454545;text-align: center;font-size: 15px;width: 100%;padding: 10px 0px;}
.foot_con{display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 7px;padding-bottom: 0px; border: 1px olid black}
.foot1{border: 1px olid;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.copyright p{font-size: 14px;}
.copyright{  width: 100%;display: flex;justify-content: center;align-items: center;}
.foot2 img{width: 50px;margin: auto}
.foot3,.foot2{display: flex;flex-direction: column;justify-content: flex-start;align-items: flex-start;width: 100%;border: 1px olid;padding: 5px 0px;}
.fooico{display: flex;}
.foot3{display: flex;justify-content: center;align-items: center;}
.foot3 h2{font-size: 20px;text-align: center;}
.fooico img{width: 30px;}


@media screen and (min-width:700px){
    
    .foot1 p{width: auto;margin-top: 20px;text-align: justify;}
    .foot2 p{text-align: justify;}
    .foot
    .foot_con a{font-size: 17px;}
    .foot_con{display: flex;flex-direction: row;justify-content: enter;;align-items: center;}
    
    .ftp_cont{display: flex;}
    .foot1{width: auto;margin: 0px 20px;border: 1px olid black}
    .foot2{width:auto;margin: 0px 20px;border: 1px olid black}
    .foot3{width: auto;margin: 0px 20px;border: 1px olid black}
    .foot3 h2{width: 150px;margin-bottom: 10px;}
    .foot3 img{width: 40px;}
    .copyright{border: 1px olid black}
    .copyright p{width: 100%; margin: auto;font-size: 15px;padding: 10px 0px;}
 
   
    body{padding-bottom: 0px;}
    .foot3 h2,.foot2 h2{font-size: 18px;}
    .foot1,.foot2,.foot3,.copyright{width: 20%;}
}


/*  ----------------- end:footer section------------------*/
    