
@font-face {
    font-family: archive;
    src: url(images/archive.otf);
}


/* start: 1st layer*/
.what img{ width: 150px; margin: auto;display: block;transition: transform 0.5s, color 0.5s, opacity 0.5s,width 0.5s;}
.what h1{font-family: archive; font-size: 30px;text-align: center;color: #f9f9f9;font-weight: 100;tra}
.what p{font-size: 27px; text-align: center; color: #f9f9f9;margin-top: 20px;font-family: sans-serif;font-weight: 600; padding: 0px 10px}
.what{width: 100%; height: 100vh;background-color: black;padding-top: 110px;transition: padding-top 0.5s;box-shadow: 0px 2px 35px 5px rgba(20, 20, 20, 0.2);}


.img_mob_move{transform: translate(-125px, -130px);color: black; opacity: 0;width: 50px;}
.what_mob_move{padding-top: 30px;}
/* end: 1st layer*/
/* start: 2nd layer*/

.slide_con{margin-bottom: 20px;display: flex;width: 100%;position: relative;bottom: 0px; transition: bottom 0.5s; }
.c_slide,.l_slide,.r_slide{border: 2px solid red;border-radius: 10px; margin: auto;box-shadow: 5px 5px 20px 0px rgba(20, 20, 20, 0.2);background-color: white;}
.c_slide{width:80%;height: 300px;z-index: 2}
.l_slide{width: 70%;height: 250px; position: absolute;border-color: green;margin-top: -125px;top: 50%;left: 3px;z-index: 1}
.r_slide{width: 70%;height: 250px; position: absolute;border-color: yellow;margin-top: -125px;top: 50%;right: 3px;z-index: 1}

.slide1,.slide2,.slide3{width: 90%; height: 90%;background-color: violet;margin: auto;}
.slide2{background-color: red;display: none;}
.slide3{background-color: green;display: none;}

/* end: 2nd layer*/

/* start: steps*/
.step{padding-top: 30px; padding-bottom: 30px; 


 background-color: #FFE66D;
    
    
    
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffe84+4,ffe66d+100 */
background: #fffe84; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #fffe84 4%, #ffe66d 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #fffe84 4%,#ffe66d 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #fffe84 4%,#ffe66d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffe84', endColorstr='#ffe66d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    


}
#shd{ text-align: center; color:#41CAB1; font-family:sans-serif; font-size: 25px;}
#shd1{color: #41CAB1;font-size: 40px; text-decoration: underline}
.s_number{font-size: 40px;font-family: archive;text-align: center;color: #41CAB1;margin-top: 5px;}
.s_number span{font-size: 40px;}
.s_image{position: relative;display: flex; width: 100%; height: 150px;justify-content: center;align-items: center;}
.cmg{width: 120px; height: 120px;margin: auto; border-radius: 50%;box-shadow: 3px 2px 10px 0px rgba(20, 20, 20, 0.2);border: 2px #41CAB1 olid;background-color: #fcfcfc;z-index: 2;display: flex;justify-content: center;align-items: center;}
.lmg,.rmg{width: 80px; height: 80px;margin: auto; border-radius: 50%;box-shadow: 1px 2px 5px 0px rgba(20, 20, 20, 0.1);position:absolute;border: 2px #41CAB1 olid;background-color: #fcfcfc;z-index: 1;display: flex;justify-content: center;align-items: center;opacity: 0.5;}
.lmg{left: 15%;margin-top: -40px;top: 50%;}
.rmg{right: 15%;margin-top: -40px;top: 50%;}
.c1{width: 80%;}
.sl1,.sr1{width: 50%;}
.c1_codeex{width: 64%;}

.s_text h2{font-size: 20px;color: #454545;text-align: center;padding: 0px 10px;}
.s_text p{padding: 10px 10px;color: #454545;text-align: justify;font-size: 19px;font-family: }
/* end: steps*/

/* start: benefits*/

.ben1 *{border: 1px olid black;}
.ben{box-shadow: 0px -2px 35px 5px rgba(20, 20, 20, 0.2);padding-top: 20px}
#sn{ text-align: center; color:#66aab7; font-family:sans-serif; font-size: 20px;}
#s1{color: #388697;font-size: 40px; text-decoration: underline}
.ben1{border:1px olid #717171;margin: 10px;box-shadow: 5px 5px 20px 0px rgba(20, 20, 20, 0.2);margin-bottom: 30px}
.ben1h{display: flex;justify-content: center;align-items: center;}
.ben1h img{width: 20%;height: 20%;padding-left: 5px}
.ben1h h1{font-size: 18px;color: #717171;padding-left: 20px;width: 80%;}
.ben1p p{color: #717171;padding: 5px 10px}
.ben1p{display: none;}
.ben1o{position: relative;width: 100%; height: 30px;display: flex;justify-content: center;align-items: center}
.ben1o div{width:120px;height: 30px;margin: auto;padding-top: 0px}
.ben1o p{color: #66aab7;font-size: 18px; font-weight: 600; position: absolute}
.ben1o span{border: 2px solid #66aab7; border-radius: 50%;width: 20px; height: 20px; display: inline-flex;padding-left: px;justify-content: center;align-items: center;font-size: 22px;}
.minus{padding-bottom: 3px}
.less{display: none;}

