
@font-face {
    font-family: archive;
    src: url(images/archive.otf);
}

#nav_bar{box-shadow: none;}
/* start: 1st layer*/
.what img{ width: 150px; margin: auto;display: block;transition: transform 0.5s, color 0.5s, opacity 0.5s,width 0.5s;}
.what h1{font-family: archive; font-size: 70px;text-align: center;color: #343434;font-weight: 100;font-family: 'Ubuntu', sans-serif;position: relative;overflow: hidden;border: 1px olid}

.what{width: 100%; height: 500px;background-color: white;padding-top: 180px;transition: padding-top 0.5s;ox-shadow: 0px 2px 35px 5px rgba(20, 20, 20, 0.2);}
.headtext{overflow: hidden;}

.what span{position: relative; top: 10px;padding-top: 60px; display:inline-block;border: 1px olid;height: 80px;overflow: hidden;opacity:0;  transition: padding-top 1s, opacity 1s;}
.hd1{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;}
.hd2{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;animation-delay: 0.2s;}
.hd3{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;animation-delay: 0.4s;}
.hd4{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;animation-delay: 0.6s;}
.hd5{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;animation-delay: 0.8s;}
.hd6{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;animation-delay: 1s;}
.hd7{animation-name: hdt1;animation-duration: 0.7s; animation-fill-mode: forwards;animation-delay: 1.2s;}

@keyframes hdt1{
    from{}
    to{padding-top: 0px;opacity: 1;}
}
.what .buildm{ width: 100px; height: 80px; background-image: url(images/build.svg);background-repeat: no-repeat;background-size: 90%;;padding-top: 0px;opacity: 1;}

@media screen and (max-width:480px)
{
    .what h1{font-size: 50px;text-align: left}
    .what span{height: 65px;}
    .what{padding-top: 10px}    
}

/* end: 1st layer*/

/* start: 2nd layer*/

.price{width: 100%; height: 100vh;font-family: 'Ubuntu', sans-serif;color: #343434;background-image: url(images/pricebg.svg);background-repeat: no-repeat;background-position: right;display: none;}
.price p{text-align: center;font-size: 30px;color: #b5b5b5;margin-bottom: 50px}
.price h1{text-align: left;padding-top: 50px;padding-left: 10px;color: #FA684B;font-size: 65px;}


/* end: 2nd layer*/

/* start: steps*/
.step{padding-top: 30px; padding-bottom: 30px;background-color: #fcfcfc; 

    
    


}
#shd{ text-align: center; color:#71f0d9; font-family:sans-serif; font-size: 25px;}
#shd1{color: #41CAB1;font-size: 40px; text-decoration: underline}
.s_number{font-size: 40px;font-family: archive;text-align: center;color: #41CAB1;margin-top: 5px;}
.s_number span{font-size: 40px;}
.s_image{position: relative;display: flex; width: 100%; height: 140px;justify-content: center;align-items: center;}
.cmg{width: 120px; height: 120px;margin: auto; ox-shadow: 3px 2px 10px 0px rgba(20, 20, 20, 0.2);border: 2px #41CAB1 olid;ackground-color: #fcfcfc;z-index: 2;display: flex;justify-content: center;align-items: center;overflow: hidden;position: relative;}
.lmg,.rmg{width: 80px; height: 80px;margin: auto; border-radius: 50%;ox-shadow: 1px 2px 5px 0px rgba(20, 20, 20, 0.1);position:absolute;border: 2px #41CAB1 olid;background-color: #fcfcfc;z-index: 1;display: flex;justify-content: center;opacity: 0.5; align-items: center;overflow: hidden;}
.lmg{left: 12%;margin-top: -40px;top: 50%;}
.rmg{right: 12%;margin-top: -40px;top: 50%;}
.c1{width: 80%;position: relative;border-radius: 50%;border: 2px solid #41CAB1;}

.sl1,.sr1{width: 50%;position: relative;border: 1px solid #41CAB1;border-radius: 50%;}
.c1_codeex{width: 64%;}

.s_text h2{font-size: 20px;color: #717171;text-align: center;padding: 0px 10px;}
.s_text p{padding: 10px 10px;color: #717171;text-align: justify;font-size: 19px;}




.vanish{animation-name: vanish_m; animation-duration: .4s;animation-fill-mode:forwards;}
@keyframes vanish_m{
    0%{right:0px;}
    99.9%{right:100px;opacity: 0;width: 30%;}
    100%{display: none;right:120px;opacity: 0.0;}   
}


.vanishleft{animation-name: vanishleft_m; animation-duration: .4s;animation-fill-mode:forwards;}
@keyframes vanishleft_m{
    0%{left:0px;}
    99.9%{left:100px;opacity: 0.5;}
    100%{display: none;right:120px;opacity: 0.0;}   
}


.appear{animation-name: appear_m; animation-duration: 0.3s;animation-fill-mode: forwards;}
@keyframes appear_m{
    0%{left:100px;opacity: 0;display: block;width: 30%}
    100%{left:0px;opacity: 1;width: 80%;}
     
}

.appearleft{animation-name: appearleft_m; animation-duration: 0.3s;animation-fill-mode: forwards;}
@keyframes appearleft_m{
    0%{right:100px;opacity: 0.5;display: block;}
    100%{right:0px;opacity: 1;}
     
}



/* end: steps*/

/* start: benefits*/

.ben1 *{border: 1px olid black;}
.ben{box-shadow: 0px -2px 35px 5px rgba(20, 20, 20, 0.2);padding-top: 20px}
#sn{ text-align: center; color:#66aab7; font-family:sans-serif; font-size: 20px;}
#s1{color: #388697;font-size: 40px; text-decoration: underline}
.ben1{border:1px olid #717171;margin: 10px;box-shadow: 5px 5px 20px 0px rgba(20, 20, 20, 0.2);margin-bottom: 30px}
.ben1h{display: flex;justify-content: center;align-items: center;}
.ben1h img{width: 20%;height: 20%;padding-left: 5px}
.ben1h h1{font-size: 18px;color: #717171;padding-left: 20px;width: 80%;}
.ben1p p{color: #717171;padding: 5px 10px}
.ben1p{display: none;}
.ben1o{position: relative;width: 100%; height: 30px;display: flex;justify-content: center;align-items: center}
.ben1o div{width:120px;height: 30px;margin: auto;padding-top: 0px}
.ben1o p{color: #66aab7;font-size: 18px; font-weight: 600; position: absolute}
.ben1o span{border: 2px solid #66aab7; border-radius: 50%;width: 20px; height: 20px; display: inline-flex;padding-left: px;justify-content: center;align-items: center;font-size: 22px;}
.minus{padding-bottom: 3px}
.less{display: none;}

