/* start: slider area*/
.hidden {
  display: none;
}
.container {
  margin: 0;
  width: 100%;
   height: auto;
  border: 1px solid yellow;
}
.container > div {
 
}
#slideshow {
  margin: 0;
	position: relative;
	width: 100%;
height: 500px;;
     border: 1px solid red;
}
#slideshow > div {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
}
#slideshow img {
	height: 100%;
  margin: 0;
  border: solid 1px #283593;
}
.slidel,.slider {width: 40px; height: 40px; border-radius: 50%; background-color: #ED6A5A;display: block;margin: auto; z-index: 1;
margin-left: -20px;}
.slidel{position: absolute; left: 48%;background-image: url(images/arrowl.svg); background-repeat: no-repeat;;background-size: 75%; background-position: 1px;bottom: 00%;}
.slider{position: absolute; left: 52%;bottom: 00%;background-image: url(images/arrowr.svg); background-repeat: no-repeat;background-size: 75%; background-position: 7px;}
/* end: slider area*/
#test{z-index: 10;font-size: 50px;}
