textarea:focus, input:focus,select:focus{
    outline: none;
}

th img{width: 8px;}
body{font-family: 'Slabo 27px', serif;}
.ser1_con{margin-bottom: 0px;background-color: #fcfcfc;padding-bottom: 20px;background-image: url(images/s1bg.svg);background-repeat: no-repeat;background-size: 100%;overflow: hidden; }
@media screen and (max-width:1100px){
    .ser1_con{background-size: 150% }      
}

@media screen and (max-width:850px){
    .ser1_con{background-size: 200%;} 
   
}
@media screen and (max-width:600px){
    .ser1_con{background-size: 400%;background-position: -600px 0px;  }
.ser1_con{
    background-image: url(images/s1bg2.svg);}
   
}
@media screen and (max-width:510px){
    .ser1_con{background-size: 500%;background-position: -600px 0px;  } 
   
}
@media screen and (max-width:410px){
    .ser1_con{background-size: 660%;background-position: -600px 0px;  } 
   
}

.s1m{width: 90%; height: 350px;margin: auto;border: 1px olid black;position: relative; margin-bottom: 0px;}
.s1m img{width: 300px;height: 300px;position: relative;left: -20px}

@media screen and (max-width:600px){
  .s1m img{width: 350px;height: 350px;position: relative;left: 80px}     
}
@media screen and (max-width:500px){
  .s1m img{left: 30px}  
    
}
@media screen and (max-width:420px){
  .s1m img{left: -60px}  
    
}

.c1,.c2,.c3,.c4,.c5,.c6{height: 100%;position: absolute;opacity: 0.0; }
.c1js{animation-name: s1;animation-duration: 0.3s;animation-fill-mode: forwards;}
.c2js{animation-name: s1;animation-duration: 0.3s;animation-fill-mode: forwards;animation-delay: 0.2s;}
.c3js{animation-name: s1;animation-duration: 0.3s;animation-fill-mode: forwards;animation-delay: 0.4s;}
.c4js{animation-name: s1;animation-duration: 0.3s;animation-fill-mode: forwards;animation-delay: 0.6s;}
.c5js{animation-name: s1;animation-duration: 0.3s;animation-fill-mode: forwards;animation-delay: 0.8s;}
.c6js{animation-name: s1;animation-duration: 0.3s;animation-fill-mode: forwards;animation-delay: 1.0s;}
@keyframes s1{
    0%{width: 95%; opacity: 0.0;}
    100%{width: 100%; opacity: 1;}
    }
.s1t{}
.serv1_head{font-size: 25px; color: #fcfcfc; text-align: center; font-family: sans-serif;padding-top: 10px;margin-bottom: 30px;}
.serv1_head span{color: #fcfcfc;font-size: 60px; text-decoration: underline; text-decoration-color: #fcfcfc;font-family: 'Ubuntu', sans-serif;}
.s1tpara{padding: 10px 10px; text-align: justify; color: #fcfcfc;font-size: 18px;}
.s1_short{display: flex; justify-content: space-around; align-items: flex-start;position: relative;width: auto;display: flex;width: 230px; margin: left;padding-left:10px;margin-bottom: 10px}
#bullet{width: 15px; height: 15px; background-color: #fcfcfc;border-radius: 50%;position: relative;top: 3px}
.shortp{font-size: 20px;color: #fcfcfc;font-size: 18px;width: 180px;padding-left: 5px;}

 .qopen{position: absolute; width:200px; background-color: #343434;font-size: 17px;bottom: 0px;right: 0px; box-shadow: 2px 1px 2px 1px hsla(0, 0%, 0%, 0.1); display: none;padding: 3px 7px;padding-top: 25px;color: #fcfcfc;border-radius: 5px;z-index: 1;}

.close{position: absolute;width: 20px; height: 20px; right: 10px; top: 5px; background-color: #fcfcfc;border-radius: 50%;display: flex;justify-content: center; align-items: center;cursor: pointer;}
.close span{color: #717171;padding: 0px 0px;padding-bottom: 2px;}
.quest{width: 25px; height: 25px;border-radius: 50%;display: flex; background-color: #fcfcfc;display: flex;cursor: pointer;}
.quest p{margin: auto;color: #717171;position: relative;font-size: 14px;font-weight: 600;font-family: 'Ubuntu', sans-serif; }



@media screen and (min-width:600px){
    .desk_con{display: flex;width: 100%;}
    .s1m{order: 2;width: 50%;position: relative; position: relative; top: -20px;}
 .s1t{width: 50%;}
    
}
@media screen and (min-width:800px){
    .s1m{width: 50%;}
    .ser1_con{width: 100%; margin: auto}
     .s1t{width: 50%;margin-left: 50px}
    .s1tpara{font-size: 20px;color: #fcfcfc}
    .s1_short{font-size: 19px;}
    .s1m img{width: 400px;height: 400px;position: relative;left: 20px;}
}


/*----------- start: l4 pricing package ----------*/
.price_head{height: 60px; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; color:  #6B6B6B;}
.price_out *{border: 1px olid black;}
.price_out{display: flex; flex-direction: column; align-items:center;

}
#p_headex1{margin: 0px; text-align: center;color: #717171; font-size: 45px;font-family: 'Ubuntu', sans-serif;}
#p_headex2{margin: 0px; text-align: center;}
.price_cont{ 
    

    width: 100%; height: auto;  display: flex; justify-content: center; align-items: flex-start; 

}

.ps1, .ps3, .ps4{ width: 33%; height: auto;border: olid 1px black; border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 9px;  }
.p_same{ width: 100%; height: auto; border-bottom: 1px #e9e9e9 solid; margin: 0px; text-align: center; padding: 10px 10px; font-size: 20px; color: #6B6B6B;position: relative;background-color: white;}

.ps1_h .buildimg{width: 100%; height: auto;display: flex;justify-content: flex-end; align-items: center;flex-direction: column;padding-top: 0px}
.ps1_h .buildimg img{ width:100px; height: 100px;position: relative;opacity: 0; top: 70px; transition: opacity 1s,top 1s}
.ps2_h .buildimg img{width: 150px; height: 150px;}
.ps4_h .buildimg img{width: 220px; height: 252px;}
.ps3_h .buildimg img{width: 160px; height: 200px;}

.ps1_h .buildimg .pm1{opacity: 1; top:1px;}


.ps1_h{margin: 0px; height: auto; background-color: #f289b7; border-radius: 10px 10px 0px 0px; display: flex; justify-content: space-between;flex-direction: column;align-items: center;}
.ps2_h{background-color: ;}
.ps3_h{background-color: #FFE66D;}
.ps4_h{background-color: #41CAB1;




}
.p_h1_2{  margin:0px; margin-top: 0px; color: #717171; text-align: center;font-size: 45px;position: relative; padding-left: 0px;height: auto; display: flex; justify-content: center; align-items: center; width: 100%;}
.emi{font-size: 20px; }
.emi #start_ex{font-size: 15px;color: white;text-decoration: underline}
.emi #start_ex img{width: 17px;position: relative;top: 4px;left: -5px}
.ps1_t{ width: 100%;height: auto; background-color:#f49abc ; position: relative; top:0px;box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 15px 0px; }
.ps4_t{background-color:#77d1c0;}
.ps3_t{background-color: #fce685;}
.ps2_t{background-color: #86c4ce;}
#first_ex,#second_ex{position: absolute; font-size: 20px;left:10px;top: 5px;margin: 0px; }
#p_h1_1{margin: 0px; color: #717171;text-align: center;  height: auto; width: 100%;font-family: 'Ubuntu', sans-serif;}
#second_ex{width: 150px; left:10px;top: 5px; text-align: left; }
.emp{font-weight: 600;}
.suit{}
.expand{width: 25px; height: 25px; background-color: #717171;border-radius: 50%;display: inline-block; margin-left: 10px;display: inline-flex; justify-content: center; align-items: center;position: absolute;right: 5px;cursor: pointer;}
.expand span{color: #fcfcfc;margin: auto;position: relative;font-size: 17px;font-weight: 600;font-family: 'Ubuntu', sans-serif; }

.suit_open{display: none;padding: 5px 10px;font-size: 17px; text-align: justify}
.exoffer{display: none;background-color: #b5b5b5;}
.offer{height: auto}
.resp_ex{height: auto;padding: 10px }
.expand_res{top: 10px}
.quest span{margin: auto;position: relative;font-size: 14px;font-weight: 600;font-family: 'Ubuntu', sans-serif;}
.res_long{padding: 0 25px;display: block;}

.p_same a{color:#2274A5; }
#star{padding: 0px 10px; text-align: center; color: #454545; font-size: 16px;}

.plusadj{position: relative;bottom: 0px}
@media screen and (max-width:650px){

    .price_cont{flex-direction: column; height: auto; align-content: flex-end; align-items: flex-end; justify-content: flex-end; padding-top: 00px;}
    .ps1, .ps2, .ps3, .ps4{width: 90%; margin: auto; height:auto;margin-bottom: 30px; margin-top: 10px}





.ps1_h .allemi,.p31_h .allemi,.ps4_h .allemi{border: 1px solid #b5b5b5;border-radius: 10px; width: 90%;margin: auto; height: auto;padding: px; background-color: white;padding-bottom: 10px; position: absolute;left: 10px;top: 10px;;z-index:1;box-shadow: 3px 6px 30px 0px rgba(20, 20, 20, 0.2);border: px solid black;justify-content: flex-start;display: none;}
    .emitar{cursor: pointer;}
    .banks{background-color: #f3f3f3;box-sizing: border-box;border-top-left-radius: 10px;border-top-right-radius: 10px;padding-right: 25px;}
    .banks p{display: inline-flex;font-family: 'Slabo 27px', serif;font-size: 20px;padding:5px;box-sizing: border-box;border-bottom: 2px solid #f3f3f3; padding-top: 10px;transition: color 0.5s,border-bottom-color 0.5s;}
    
    .banks p:hover{color:#ED6A5A; border-bottom-color: #ED6A5A;cursor: pointer;}
    
    .emitab{width: 95%;margin: auto; border: px solid black;margin-top: 10px;}
    table{width: 100%;}
   
    td{text-align: center;}
         th{height:30px;background-color: #f3f3f3;text-align: center;}
    
    .closeemi{position:absolute;left: 90%;top: 2%; background-color: #454545;border-radius: 50%;width: 20px; height: 20px;display: flex;cursor: pointer;}
    .closeemi span{color: white;margin: auto;}




}

@media screen and (min-width:650px){
    .price_cont{width: 100%;}
    .ps1, .ps2, .ps3, .ps4{width: 33%;} 
    
    .price_out{display: flex;  align-items:center;

}
      .ps1_h .buildimg{padding-top: 160px;}
    .ps3_h .buildimg {padding-top: 60px}
.ps4_h .buildimg {padding-top: 10px}
    
.ps1_h .allemi,.p31_h .allemi,.ps4_h .allemi{border: 1px solid #b5b5b5;border-radius: 10px; width: 90%;margin: auto; height: auto;padding: px; background-color: white;padding-bottom: 10px; position: absolute;left: 10px;top: 10px;;z-index:1;box-shadow: 3px 6px 30px 0px rgba(20, 20, 20, 0.2);border: px solid black;justify-content: flex-start;display: none;}
    .emitar{cursor: pointer;}
    .banks{background-color: #f3f3f3;box-sizing: border-box;border-top-left-radius: 10px;border-top-right-radius: 10px;}
    .banks p{display: inline-flex;font-family: 'Slabo 27px', serif;font-size: 22px;padding:5px;box-sizing: border-box;border-bottom: 2px solid #f3f3f3; padding-top: 10px;transition: color 0.5s,border-bottom-color 0.5s;}
    
    .banks p:hover{color:#ED6A5A; border-bottom-color: #ED6A5A;cursor: pointer;}
    
    .emitab{width: 95%;margin: auto; border: px solid black;margin-top: 10px;}
    table{width: 100%;display: }
   
    td{text-align: center;}
         th{height:30px;background-color: #f3f3f3;text-align: center;}
    
    .closeemi{position:absolute;left: 93%;top: 2%; background-color: #454545;border-radius: 50%;width: 20px; height: 20px;display: flex;cursor: pointer;}
    .closeemi span{color: white;margin: auto;}
    
    
    
    
  #star{padding: 0px 10px; text-align: center; color: #717171; font-size: 16px;}
    
    
}

   #start_ex{font-size: 50px; position: relative; left: 5px}
.emitar img{width: 10px;}
.p_h1_2 img{width: 22px;margin-right: 5px} 
.emi img{width: 12px;margin-right: 3px;margin-left: 4px;}
/* end: l4  pricing package */




/* start: revamp */
.revamp_con{background-color: white ;width: 100%; height: 600px;}
.revamp_m{ background-color: white; width: 100%;height: 480px;border: 1px olid black; display: flex; flex-direction: column; justify-content: space-around; padding-top: 20px}

.rm1,.rm2,.rm3,.rm4{width: 95%; height: 90px; border: olid 1px black;padding-left: 10px; display: flex; justify-content: space-between; align-items: center;margin: auto;box-shadow: 3px 6px 30px 0px rgba(20, 20, 20, 0.2);}


.rm1 img,.rm2 img,.rm3 img,.rm4 img{width: 60px;opacity: 0; position: relative;right: -50px;transition: right 1s,opacity 1s;}
.rimage{right: 100px;}

.rm1 h1,.rm2 h1,.rm3 h1,.rm4 h1{font-size: 20px;text-align: left;width: 150px;color: #717171;opacity: 0; position: relative;left: -30px;transition: left 1s,opacity 1s;}
.revampt{background-color: white}
.revamp_head{background-color: white;color:#60e7ce; text-align: center;font-family: 'Ubuntu', sans-serif;}

.revamp_head span{ color:#41CAB1 ;font-size: 40px; text-decoration: underline; text-decoration-color: rgba(56,134,151,0.5)}
.revampt p{color: #717171;font-size: 18px; text-align: justify; padding: 10px 10px}
.report h1{font-size: 20px; color: #343434;text-align: center;}



@media screen and (min-width:600px){
    .revamp_desk{display: flex;margin: auto;justify-content: center;align-items: center;}
    .revamp_m{height: 400px;width: 350px;margin-right: 30px}
.revampt{width: 400px;display: flex;justify-content: center;align-items: flex-start;padding-top: 20px; }
.rm1,.rm2,.rm3,.rm4{width: 90%;}
.revampt p{font-size: 20px; }

}




/* Start: l2 form*/
.revamp_con{height: auto}

.form_cont{ 
    width: 95%; margin: auto; margin-top: 60px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px olid black;
    background-color: #41cab1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 10px;margin-bottom: 20px;
background-image: url(images/smoke.png); background-size: 300px 300px; background-repeat: no-repeat; background-position: -50px -45px;}

#form_message{ 
    color: #fcfcfc;
    margin-bottom: 30px; width: 65%; text-align: center;margin: 0px;font-size: 35px;position: relative; top: -25px;font-family: 'Ubuntu', sans-serif;
}
.fields{ width: 100%; height: 60px; display: flex; justify-content: center;  }

#cletf1, #cletf2, #cletf3{display: flex; justify-content: center; align-items: center; width: 70%; margin: auto;}
#cletf3{width:90%; }

#cletf1 input, #cletf2 input, #cletf3 input, #cletf5 textarea{ width: 95%; height: 50px;  padding-left: 10px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); font-size: 100%; color: #2B2D42;
transition: width 0.3s, box-shadow 0.3s;font-family: 'Slabo 27px', serif;font-size: 22px
}
input::placeholder{color: #717171; font-size: 18px; }



#cletf2{ border-top-right-radius: 10px;}
/* inter */
#cletf1 input{background-image: url(images/user24.png);}
#cletf2 input{background-image: url(images/phone24.png);}
#cletf3 input{background-image: url(images/mail24.png);}
#clet5 textarea{background-image: url(images/com24.png); background-position: 3px 65px; padding-left: 60px; }

/* inter */
#cletf1 input:focus{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 98%;}
#cletf2 input:focus{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 98%;}
#cletf3 input:focus{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 98%;}

#cletf6{  display: flex; justify-content: center; align-items: center;}
#cletf6{ width: 90%; margin-top:5px;padding-left: 25px; position: relative; left: -40px;
}


#ffsubmit{ border-style: none; border-radius: 5px;  color:white;background-image: url(images/mailsend.svg); font-size: 22px;  height: 40px; background-color:#41cab1;  background-repeat: no-repeat; background-position: 95px 10px; width: 130px; padding-right: 30px; transition: padding-right 0.5s, background-position,0.5s; height: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;top: -5px;right: -30px;
}

#ffsubmit:hover{ padding-right: 43px; background-position: 99px 10px;}

@media screen and (max-width:550px){ 
    .form_cont *{border: 1px olid black}
    .form_cont{height: 440px;background-position: -50px 160px;background-image: none;}
.fields{flex-direction: column;   height: 380px;padding-left: 5px;}
    
    #cletf1, #cletf2, #cletf3{display: flex; justify-content: center; align-items: center; width: 90%; margin: 10px;}
    #form_message{ margin: 0px; font-size: 23px; padding-left: 10px; padding-top: 0px;width: 100%;position: relative; top: 5px;}
    
#cletf6{  position: relative; left: -30px;top: 10px
}
}


@media screen and (max-width:850px){
    
    input::placeholder{color: #717171; font-size: 16px; }
}


/* end: l2 form*/
/* end: revamp */





/*start: build*/

.build_con{width: 100%; height: 400px;overflow: hidden; background-image: url(images/s1b.svg);position: relative;display: flex;justify-content: center;flex-direction: column;align-items: flex-end;padding-right: 00px;background-color: white;box-shadow: inset 1px 5px 12px 1px hsla(0, 0%, 0%, 0.1);}
.build_txt{width: 60%;border: 1px olid;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.build_con img{position: absolute;left: -150px;top: -0px;opacity: 0; transition: opacity 1s, left 1s,top 1s;}




.build_con h1{text-align:center;font-size: 40px;color: #454545;}
.menu7a{font-size: 20px; color: #f9f9f9; font-family: sans-serif; font-weight: 600; display: block; margin-top: 20px; margin-left: 20px; border-radius: 30px;width: 175px; padding: 10px 0px 10px 20px; background-color:#ED6A5A; background-image: url(images/right.png); background-repeat: no-repeat; background-position:142px; background-size: 30px 30px;transition: width 0.5s, background-position 0.5s, padding 0.5s,opacity 0.5s, transform 0.5s;}

.b{transform: scale(1.05);}

.menu7a:hover{background-position: 146px;padding-left:15px; }
@media screen and (max-width:900px){
    
    .build_con h1{font-size: 30px}
    .build_txt{width: 50%}
    .build_con img{position: absolute;left: -150px;top: -100px}
}
@media screen and (max-width:600px){
      .build_con img{width: 500px; position: absolute;left: -150px;top: -200px;transform: rotate(90deg);opacity: 0;}
     .build_txt{padding-top: 400px;width: 100%;padding-left: 5px;padding-right: 5px;}
    .build_con{height: auto;padding-bottom: 40px}
    
}
/*end: build*/