#faqheaddown{ display: flex; width: 100%; height: 600px;background-color: #fcfcfc;flex-direction: column;padding-left: 20px; padding-top: 230px; }


#faqheaddown h1{color: #454545; position: elative; top: 100px;left: 50px; font-size: 75px;text-align: center; font-family:sans-serif;
   
}
#faqheaddown span{
 color: #fcfcfc;
text-shadow: -1px 0 #454545, 0 1px #454545, 1px 0 #454545, 0 -1px #454545;}
@media screen and (min-width:300px) and (max-width:480px){
    
    #faqheaddown h1{font-size: 50px; text-align: left; margin-bottom: 20px;padding-top: 10px }
    #faqheaddown p{font-size: 18px}
    #faqheaddown{height: 450px; padding-top: 70px}
    
}

/*end: faq banner */
/*start: sell */

.sell,.refer{width: 95%;margin: 0px auto; color: #343434;margin-bottom: 30px; border: 1px olid  black;}


.sell h2,.refer h2{margin:20px 0px 5px 0px;}
.sellh,.referh{font-size: 22px;color: #388697;padding-top: 20px;margin-bottom: 10px}
.sell p,.refer p{text-align: justify;font-size: 18px;}
.sell ul,.refer ul{margin: 0px;margin-left: 10px; padding:0px 0px 0px 10px; font-size: 20px}
.sell ul li,.refer ul li{margin: 10px 0px; }
.circle{width: 35px; height: 35px; border-radius: 50%; border: 2px solid #388697;color: #388697;padding-left: 11px;padding-top: 5px;margin-bottom: 5px; }
.sell .circle,.refer .circle{font-size: 20px; font-weight: 600;}
.sellhowp div,.referhowp div{display: flex;justify-content: center; align-items: center;flex-direction: column; margin:  20px 0px;}
/*end: sell */

@media screen and (min-width:800px){
    .partner_con{display: flex;justify-content: flex-start; align-items: flex-start;}
    .sell,.refer{width: 45%; }
    


    
}