#faqheaddown{ display: flex; width: 100%; height: 600px;background-color: #fcfcfc;flex-direction: column;padding-left: 20px; padding-top: 230px; }


#faqheaddown h1{color: #454545; position: elative; top: 100px;left: 50px; font-size: 75px;text-align: center; font-family:sans-serif;
   
}
#faqheaddown span{
 color: #fcfcfc;
text-shadow: -1px 0 #454545, 0 1px #454545, 1px 0 #454545, 0 -1px #454545;}
@media screen and (min-width:300px) and (max-width:480px){
    
    #faqheaddown h1{font-size: 50px; text-align: left; margin-bottom: 20px;padding-top: 10px }
    #faqheaddown p{font-size: 18px}
    #faqheaddown{height: 450px; padding-top: 70px}
    
}

/*end: faq banner */
/*start: sell */

.sell,.refer{width: 95%;margin: 0px auto; color: #343434;margin-bottom: 30px; border: 1px olid  black;}


.sell h2,.refer h2{margin:20px 0px 5px 0px;}
.sellh,.referh{font-size: 22px;color: #388697;padding-top: 20px;margin-bottom: 10px;}
.sell p,.refer p{text-align: justify;font-size: 18px;}
.sell ul,.refer ul{margin: 0px;margin-left: 10px; padding:0px 0px 0px 10px; font-size: 20px}
.sell ul li,.refer ul li{margin: 10px 0px; }
.circle{width: 35px; height: 35px; border-radius: 50%; border: 2px solid #388697;color: #388697;padding-left: 11px;padding-top: 5px;margin-bottom: 5px; }
.sell .circle,.refer .circle{font-size: 20px; font-weight: 600;}
.sellhowp div,.referhowp div{display: flex;justify-content: center; align-items: center;flex-direction: column; margin:  20px 0px;}
.sellh span,.referh span{display: ;}

/*end: sell */


/*start:bottom */
 .partbottom{display: flex;width: 100%; height: 300px;margin: auto;background-color:white; flex-direction: column;justify-content: center; align-items: center;box-sizing: border-box;}
    .sellh span,.referh span{display: block;}
    .bottomm{width: 100%;position: relative; top: 20px; opacity: 0;transition: opacity 1s, top 1s;}
 
    .partbottom div{width: 90%;overflow: hidden; margin: 0px 0px;border-bottom: 3px solid #343434; display: flex;justify-content: center;align-items: center;}
    .partbottom a{color:#2274A5; }
  .partbottom p{font-size: 18px;width: 95%;text-align: center;padding-top: 10px;}
    
    .partbottom h1{text-align: center; color: #343434; font-size: 18px; padding-top: 10px;}
 .bottommjsmob{opacity: 1; top: 0px;}
/*end:bottom */
    
@media screen and (min-width:800px){
 
    .sell,.refer{display: flex;width: 90%;margin: auto;margin-bottom: 30px; padding-right: 15%;}
    .sellleft., .referleft{width: 20%;}
    .sellright,.referright{padding-left: 20px;width: 80%;}
      .sellleft, .referleft{width: 70%;border-right: 4px solid #388697;text-align: right;padding-right: 20px; }
    .sellleft h1,.referleft h1{font-size: 35px; opacity: 0; left:30px;  position: relative; transition: opacity 1s, left 1s}
    .sellhjs{left:0px; opacity: 1; }
    .partbottom{display: flex;width: 100%; height: 350px;margin: auto;background-color:white; flex-direction: column;justify-content: center; align-items: center;box-sizing: border-box;}
    .sellh span,.referh span{display: block;}
    .bottomm{width: 100%;position: relative; top: 30px; opacity:0;transition: opacity 1s, top 1s;}
    .partbottom div{width: 40%;overflow: hidden; margin: 0px 0px;border-bottom: 3px solid #343434; display: flex;justify-content: center;align-items: center;}
    .partbottom a{color:#2274A5; }
  .partbottom p{font-size: 22px;width: 70%;text-align: center;padding-top: 10px;}
    
    .partbottom h1{text-align: center; color: #343434; font-size: 25px; padding-top: 10px;}
    .bottommjs{opacity: 1; top: 0px;}
}
  
