
/* end pre-load screen*/
 

.sec1{width: 100%; height: 830px; background-image:url(images/top.svg);background-repeat: no-repeat;background-size: 1800px 1000px;background-position: 0% 30%;border:1px olid black;transition: background-position 2s; }


.s1hd{display: flex;justify-content: center;align-items: center;}
.s1,.s3{width: 100%;height: auto;padding: 20px 15px; border: 1px olid black;}
.s1hd h1{font-size: 35px;color: #F39237;}
.s1 p,.s3 p{font-size: 18px;text-align: justify}
.one{width: 70px;height: 70px;border: 1px olid black; background-image: url(images/1.png);background-repeat: no-repeat;background-size: contain;}
.three{background-image: url(images/3.png);}
.two{background-image: url(images/2.png);}

    .jhd1{position: relative;left: -40px; opacity: 0;transition: left 1s,opacity 1s;}
.jhd2{position: relative;left: 40px; opacity: 0;transition: left 1s,opacity 1s;}
    
@media screen and (min-width:350px)
{.sec1{height: 750px;}
    .sec1{ background-position: 0% 45%}
    
}
@media screen and (min-width:440px)
{.sec1{height: 650px;}
    .sec1{ background-position: 0% 60%}
    
}
@media screen and (min-width:700px)
{.sec1{height: 550px;display: flex;justify-content: center;}
       .s1{position: relative; left: 0px;}
    .s2{position: relative;top: 100px;left: 00px}
 
    .s1{width: 500px;}
    .sec1{ background-position: 100% 155%}
    .jhd1{position: relative;left: -40px; opacity: 0px;transition: left 1s,opacity 1s;}
.jhd2{position: relative;left: 40px; opacity: 0;transition: left 1s,opacity 1s;}
}
@media screen and (min-width:1100px)
{
    .s1{left: -50px;}
    
    .s2{left: 50px;}

}


.oneday{width: 250px;margin:50px auto; height: auto; border: 1px olid black;border-radius: 20px;box-shadow: 5px 10px 50px 0px rgba(20, 20, 20, 0.2);}
.onehd img{width: 100px;}
.onehd h2,.onehd p{color: #fcfcfc;}
.onehd h2{margin: 10px 0px;}
.onehd p{margin-bottom: 10px;}
.onehd{background-color:#2193A8;


 
 border-radius: 20px 20px 0px 0px;   
  display: flex;flex-direction: column;justify-content: center;align-items: center;
}
.onep{background-color: #fcfcfc;border-radius: 0px 0px 20px 20px;;}
.onep1{display: flex;justify-content: space-around;align-items: center;margin: 15px 0px; border-bottom: 1px solid #b5b5b5;padding-bottom: 15px;border: 1px olid}
.onep1 div{width: 45%; height: }
.onep1 p{text-align: left;border: 1px olid black;padding-left: px;font-size: 15px;}
.onep1 div:first-of-type p{padding-left: 5px;}
.onep1 i{ font-family: 'Roboto', sans-serif;font-size: 12px;position: relative;top: 10px;}
.onep1 img{width: 15px;position: relative;top: 2px;}
.litinfo img{width: 12px;position: relative;top: 2px;}
.ex_1{position: relative;top: 10px;}
.exb_1{border-bottom: 0px solid black;}
.price{border: 1px solid #fcfcfc}

 .sec2{background-image: url(images/bottom.svg);background-repeat: no-repeat;background-position: 0%  980px;padding-bottom: 00px;border: 1px olid;transition: background-position 1s; }
   .jhd3{position: relative;left: -40px; opacity: 0;transition: left 1s,opacity 1s;}
 .jtar1{position: relative;top: 60px; opacity: 0;transition: top 1s,opacity 1s;}
 .jtar2{position: relative;top: 60px; opacity: 0;transition: top 1.5s,opacity 1s;}
  
@media screen and (min-width:650px){
    .price{display: flex;width: 100%; height: auto;justify-content: center;align-items: flex-start}
    .sec2{background-image: url(images/bottom.svg);background-repeat: no-repeat;background-position: 0%  480px }
   
    .jhd3{position: relative;left: -40px; opacity: 0px;transition: left 1s,opacity 1s;}

}
@media screen and (min-width:950px){
    .sec2{display: flex;justify-content: center;align-items: center;border: 1px olid black;padding-bottom: 150px}
    .s3{position: relative;top: -300px;width: 500px;margin: 0px;border: 1px olid ;}
    .threeday{position: relative;top: 100px;}
    .oneday{margin: 50px 20px;}
    .price{width: 60%;}
    .sec2{background-position: 0%  680px}
}
@media screen and (min-width:1200px){
    .price{border: 1px olid;width: 50%;}
    .s3{width: 400px;position: relative;;}
 
}




