
body p{font-family: 'Slabo 27px', serif;}
body h1{font-family: 'Ubuntu', sans-serif;}
h1, p{margin: 0px;}
body{margin: 0px; background-color: #fedc45;}


.mainclass{width: 100%; height: auto;display: flex;justify-content: flex-end;;align-items: flex-start}

.mainclass *{border: 1px olid}
.mone div{padding: 10px 0px;}
.mone{width: 20%;height: 100vh; padding: 0px 0px 0px 5px;position: fixed;left: 0px;font-size: 22px;background-color: #343434;color: #fcfcfc;font-family: 'Ubuntu', sans-serif;}
.mtwo{width: 80%;}
.mtwo div{padding-left: 10px}
.twotitle span{font-size: 60px;}
.twotitle{text-align: center;border:15px olid green;width: 40%;display:flex;justify-content: center;align-items: center;margin: auto;margin-bottom: 100px;}
.bar{width: 100px; height: 200px;background-color: red;transform: skewX(-30deg)}
.pm-button{position: relative; z-index: 10}