body * { box-sizing: content-box;  color: #454545;
    font-family: 'Poppins', sans-serif;}
body{
        margin: 0px;
}
h1,p{
    margin: 0;
}
.spclr{
    color: #fcfcfc;
    margin: 0px;
}
/*s:header design*/
.spclr{
    color: #fcfcfc;
}

.header{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 500px;background-image: url(images/headerbg.svg);background-repeat: no-repeat;background-size: cover; }

.hd-txt{margin: 0px; padding-top: 0px;width: 70%;margin: auto;
font-size: 16px;}
@media(min-width:650px){
    .hd-txt{margin: 0px; padding-top: 100px;width: 70%;margin: auto;font-size: 16px;}}

/*e:header design*/


/*serolst*/
.olist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}
.rateng p{
        color: #d7d7d7;
        position: relative
    }
    .rateng p .fa{
        font-size: 35px;
        color:#F8981F; 
    }
.hedimg{
    display: flex;
    flex-direction: row;
    /*border: 1px solid;*/
    justify-content: center;
   /*align-items: center;*/
    /*border: 1px solid;*/
}
.olsthd {
    transform: rotate(-90deg);
}
.olsthd h1{
    font-size: 50px;
    color: #d7d7d7;
    border-bottom: 10px solid #d7d7d7;
    position: relative;
    top: -10px

}
.olstimg{
    width: 150px;
    height: 100px;
    overflow: hidden;
    /*border: 1px solid;*/
}
.olstimg img{
    width:150px;
}
.olstpara{
    border-left: 0px solid #d7d7d7;
    padding: 0px 10px;
}
.olstpara p{
    font-size: 18px;
   /* padding: 0px 10px;*/
}
.rtr{
    color:#d7d7d7;
    position: relative;
    top: -5px;
    left: 5px;
}
.btn-vist {
    border: 0px;
    width: 30%;
    margin: auto;
    padding: 15px;
    color: #fcfcfc;
    font-size: 20px;
    background-color: #F8981F;
    border-radius: 10px;
}
.btn-vist a{
    color: #fcfcfc;
}
a{
    text-decoration: none;
    
}
.btn-vist .fa{
    color: #fcfcfc;
}


@media(min-width:700px){
    .olstpara{
    border-left: 10px solid #d7d7d7;
        padding: 0;
}
    .olist{
    display: flex;
    flex-direction: row;
}
    .hedimg{
        align-items: center;
    }
    .olstpara{
    width: 90%;
    text-align: justify;
        padding: 0px 40px
}
    .olsthd h1{
    font-size: 90px;
        position: relative;
        top: -30px;
}
    .rateng p{
        color: #d7d7d7;
        position: relative
    }
    .rateng p .fa{
        font-size: 35px;
        color:#F8981F; 
    }
}
@media(min-width:900px){
    .olstpara{
    width: 700px;
    text-align: justify;
}
    .olstpara p{
        font-size: 20px
    }
    .olist{
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
    
    .btn-vist{
        width: 150px;
    }
    .olstimg img{
    width: 200px;
}
    .olstimg{
    width: 200px;
    height: 200px;
    overflow: hidden;
    
}
    .olsthd h1{
    font-size: 90px;
}
}
@media(min-width:1000px){
    .btn-vist{
        width: 100px;
    }
}
/*serolst*/


