body {border: 1px olid black;font-family: 'Ubuntu', sans-serif;}

/* start: sec1*/
.sec1 *{border: 1px olid white;}
.sec1{width: 100%;height: auto; background-color: black;padding-top: 5px;color: white}
.vr{text-align: center;font-size: 40px;color:#FA684B }
.sec_hd h1{text-align: center;position: relative;}

.sec_v,.sec_t{display: flex;justify-content: center;align-items: center;overflow: hidden;}

.sec_v img{position: relative;width: 180px;padding: 10px 0px;}
.sec_l{width: 90%; height: 1px;margin: auto;background-color: white;}
.sec_t p{ position: relative;padding:10px 25px ;font-size: 17px;font-family: 'Slabo 27px', serif;}

.select{width: 80%;position: relative;display: flex;margin: auto;margin-bottom: 30px;margin-top: 15px}
.stick{height: 2px;background-color: white;margin: auto;margin-top: 0px;width: 95%;display: flex;justify-content: space-between;position: relative;top: 10px}
.outline{border: 2px solid white; width: 25px; height: 25px; border-radius: 50%;display: flex;position: relative;top: -10px;cursor: pointer;background-color: black;}
.solid{width: 15px;height: 15px;margin: auto;background-color: white;border-radius: 50%;position: relative;}
.outline h1{display: none;}
#vr_des{display: none;}

.mgon{animation-name: smgon;animation-duration: 1s; animation-fill-mode: forwards;}
.txon{animation-name: stxon;animation-duration: 1s; animation-fill-mode: forwards;}
.hdon{animation-name: hdon;animation-duration: 1s; animation-fill-mode: forwards;}
.solidon{animation-name: solidon;animation-duration: 0.5s; animation-fill-mode: forwards;}


@keyframes solidon{
     0%{width:0px;height: 0px; opacity: 0;}
    100%{width:15px;height: 15px; opacity: 1;}    
}

@keyframes hdon{
     0%{top: 20px;opacity: 0;}
    100%{top: 0px;opacity: 1}    
}


@keyframes smgon{
     0%{top: 30px;opacity: 0;}
    100%{top: 0px;opacity: 1}    
}

@keyframes stxon{
     0%{bottom: 30px;opacity: 0;}
    100%{bottom: 0px;opacity: 1}
    
}




@media screen and (min-width:800px){
    .sec1{display: flex;height: 600px;}
       .select{height: 400px;width: 30%; order: -1;}
    .stick{width: 3px;height: 400px;flex-direction: column;margin-left: 30px;margin-top: 90px;}
    .outline{position: relative; left: -10px;top: 0px;}
    .sec_t p{font-size: 25px}
    .sec_respd{width: 50%;padding-top: 100px;padding-right: 100px;}
    
    .outline .wehd{display: block;position: absolute;left: 40px;top: -10px;font-size: 30px;width: 400px;color: #454545;transition: font-size 0.5s,color 0.5s;}
    .vr{display: none}
    #vr_des{display: block;position: absolute;top: 0px;left: 60px;font-size: 55px;color:#FA684B;}
    .sec_hd{display: none;}
    .outline .hd1{font-size: 40px;color: white}
}

/* end: sec1*/

/* start: www*/
.www_con *{border: 1px olid} 
.www_con{width: 100%; height: auto;padding: 20px 5px;}

.www1{width: 100%; height: 50px;display: flex;justify-content: center;align-items: center}

.www1 div{width: 2px; height: 50%; background-color: #717171;}
.www1 p{font-size: 23px; font-family: sans-serif;margin: 5px;cursor: pointer;}
.whoh{color: #717171;}
.whohc{color: #f9d63c;}
.whyh{color: #717171;}
.whyhc{color: #ed775b;}
.whath{color: #717171;}
.whathc{color: #41CAB1;}

.www2 p{font-size: 18px;padding: 10px 5px;color: #454545;text-align: justify;font-family: 'Slabo 27px', serif;}

.www2{width: 100%; height: auto;position: relative;display: flex;justify-content: center;align-items: center;overflow: hidden;}
.www2 p span{font-size: 150px; position: absolute;left:5%;top: 10px; font-family: sans-serif;z-index: -1; opacity: 0.6;}

.wwwani{animation-name: wwwani;animation-duration: 1s;animation-fill-mode: forwards;}
@keyframes wwwani{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.whop{display: non;}
.whyp{display: none;}
.whatp{display: none;}

.whop span{ color: #f9de70;}
    .whyp span{color: #ed9784;top: 80px}
    .www2 .whatp  span{color: #a1dddd;font-size: 100px;top: 50px; left: 15%;}
   
@media screen and (min-width:800px){
/* mobile*/
.www1{flex-direction: column;width: 40%; height:280px;position: relative; top: 20px}
.www_con{display: flex;width: 80%;margin: auto;padding: 100px 0px;}
.www1 p{font-size: 70px;}
.www1 div{width: 50%; height: 2px;}
.www2 p{font-size: 30px;}
  .www2 .whatp  span{color: #a1dddd;font-size: 200px;left: 100px;top: 10px}
.www2 p span{font-size: 200px;left: 20%;}

/* mobile*/
}
/* end: www*/

/* start: m and v*/

.mv_con{width: 100%;;padding: 15px 5px;display: flex;flex-direction: column; color: #454545;overflow: hidden;position: relative;}
.mv_con h1{text-align: center;font-size: 70px;font-family: sans-serif;color: #343434;}
.mv_con p{font-size: 20px; color: #388697}
.mv_con div{margin: 20px 0px}
.mv_con div{margin: auto;display: flex;justify-content: center;flex-direction: column; align-items: center;padding: 30px 10px;}
 .vission img{position: absolute;z-index: -1;left: -90px;width: 200px;bottom: -20px}
    .mission img{position: absolute;z-index: -1;left: -100px;width: 250px;bottom: 290px}
/* mobile */
@media screen and (min-width:800px){

    .mv_con *{border: 1px olid}
.mv_con{flex-direction: row;padding:50px 0px;position: relative;overflow: hidden;}
.mv_con div{width: 40%;margin: auto;display: flex;justify-content: flex-start;flex-direction: column; align-items: center;padding: 50px 0px;}
    .mv_con p{font-size: 30px;font-family: 'Slabo 27px', serif;}
    .mission{position: relative; top: -15px; }
    .vission img{position: absolute;z-index: -1;left: 1190px;width: 250px;bottom: -40px}
    .mission img{position: absolute;z-index: -1;left: -250px;width: 450px;bottom: -250px}
}
/* mobile */


/* end: m and v*/



/*start: core values*/

.core{width: 100%; height: auto;display: flex;flex-direction: column;}

.core h1{font-family: sans-serif}
.core div{width: 100%; height: auto; }
.core_h{ text-align: center; color:#66aab7; font-family:sans-serif; font-size: 30px;margin-bottom: 10px;margin-top: 30px}
.core_h span{color: #388697;font-size: 50px; text-decoration: underline}
.c1{background-color:#ED6A5A;padding: 20px 0px; }
.c2{background-color:#FFE66D;padding: 20px 0px; }
.c3{background-color:#41CAB1;padding: 20px 0px; }
.c1 p,.c2 p,.c3 p{color: #fcfcfc;font-size: 20px;padding: 5px 5px;font-family: 'Slabo 27px', serif;}
.c2 p{color: #454545;}
.c1 h1{background-color: #454545;  margin-right: 130px;padding-left: 10px; color: #fcfcfc;}
.c2 h1{background-color: #fcfcfc;  margin-right: 130px;padding-left: 10px; color: #454545;}
.c3 h1{background-color: #454545;  margin-right: 130px;padding-left: 10px; color: #fcfcfc;}
.c1 #c11{color:#ED6A5A; background-color: white; margin-right: 210px}
.c2 #c21{color:#ffe66d; background-color: #454545; margin-right: 190px}
}
#c22{margin-right: 170px}
#c23{margin-right: 210px}


.c3 #c31{color:#41CAB1; background-color: white; margin-right: 230px}
#c32{margin-right: 190px}
#c12{margin-right: 170px}
#c13{margin-right: 190px}
@media screen and (min-width:800px){
    
/* mobile */
.core_resd{display: flex; flex-direction: row;overflow: hidden;}
.c1 p,.c2 p,.c3 p{padding: 20px 100px 5px 10px;font-size: 30px;}
.c1{padding: 40px 0px; }
.c2{padding: 40px 0px; }
.c3{padding: 40px 0px; }
/* mobile */
}
/*end: core values*/

/*start: found*/

.found{width: 100%; height: 600px;position: relative;overflow: hidden;display: none;}
.pic{width: 100%; height: 400px;}
.found .pic img{width: 100%;position: relative; bottom: 50px}
.lay{width: 100%; height: 190px; position: absolute; top: 0px;left: 0px;top: 320px}
.lay h1{background-image: url(images/found.png);background-repeat: no-repeat;background-size: contain;color: rgba(1,1,1,0.5); height: 70px; width: 100%;}
.det{position: relative; left: 0px;top: -10px; width:100%;; height: auto;background-color: #ED6A5A;color: #fcfcfc;padding: 0px 10px}
.det_pos{font-weight: 600;margin-bottom: 10px}
/*end: found*/



/*start: build*/

.build_con{width: 100%; height: 400px;overflow: hidden; background-image: url(images/s1b.svg);position: relative;display: flex;justify-content: center;flex-direction: column;align-items: flex-end;padding-right: 00px;background-color: white;box-shadow: inset 1px 5px 12px 1px hsla(0, 0%, 0%, 0.1);}
.build_txt{width: 60%;border: 1px olid;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.build_con img{position: absolute;left: -150px;top: -0px;opacity: 0; transition: opacity 1s, left 1s,top 1s;}




.build_con h1{text-align:center;font-size: 40px;color: #454545;}
.menu7a{font-size: 20px; color: #f9f9f9; font-family: sans-serif; font-weight: 600; display: block; margin-top: 20px; margin-left: 20px; border-radius: 30px;width: 175px; padding: 10px 0px 10px 20px; background-color:#ED6A5A; background-image: url(images/right.png); background-repeat: no-repeat; background-position:142px; background-size: 30px 30px;transition: width 0.5s, background-position 0.5s, padding 0.5s,opacity 0.5s, transform 0.5s;}

.b{transform: scale(1.05);}

.menu7a:hover{background-position: 146px;padding-left:15px; }
@media screen and (max-width:900px){
    
    .build_con h1{font-size: 30px}
    .build_txt{width: 50%}
    .build_con img{position: absolute;left: -150px;top: -100px}
}
@media screen and (max-width:600px){
      .build_con img{width: 500px; position: absolute;left: -150px;top: -200px;transform: rotate(90deg);opacity: 0;}
     .build_txt{padding-top: 400px;width: 100%;padding-left: 5px;padding-right: 5px;}
    .build_con{height: auto;padding-bottom: 40px}
    
}
/*end: build*/
