*{
    margin: 0;
    padding: 0;
 /*  border: 1px solid #000;*/
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*logo*/
.main-div{
    display: flex;
}
.logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-l{
    display: flex;
     flex-direction: column;
    align-items: center;
}
.logo-div img{
    width: 25%;
    padding-bottom: 10px;
}
.logo-div p{
    text-align: center;
}
@media only screen and (min-width:500px){
    .logo-div{
    display: flex;
    flex-direction: row;
        align-items: center;
        justify-content: center;
    
}
    .txt-p{
      display: flex;
        flex-direction: row;
    }
    .logo-div img{
    width: 15%;
    padding:0px 10px;
}
    .logo-txt p{
        font-size: 18px;
        font-weight: 500;
        text-align: left;
    }

}
@media only screen and (min-width:1000px){
    .logo-div img {
    width: 10%;
    }
}
/*logo-end*/
/*form-bck*/
.back-blu{
    background: rgb(38,137,201);
    min-height: 1000px;
    padding: 10px 10px;
}
.form-container{
    background: rgb(246,247,249);
    height: 1000px;
    border-radius: 5px;
    padding: 10px 10px;
}
.frm-hd{
    padding: 10px 10px;
}
.frm-hd h4{
    font-size: 15px;
    text-align: center;
}

@media only screen and (min-width:500px){
    .frm-hd h4{
    font-size: 18px;
    text-align: center;
}
   .back-blu{
    background: rgb(38,137,201);
    min-height: 1000px;
    padding: 40px 30px;
} 
    .form-container{
    background: rgb(246,247,249);
    height: 1000px;
    border-radius: 10px;
    padding: 50px 0;
}
}
@media only screen and (min-width:800px){
    .back-blu{
         padding: 40px 150px;
    } 
}
@media only screen and (min-width:1000px){
    .back-blu{
         padding: 40px 200px;
    } 
}
/*form-bck-end*/
/*form*/
.fom-vlu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px ;
   /* border: 1px solid;*/
}
.frm-cnt{
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.frm-cnt input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
.usernme{
    padding: 20px;
    border-radius: 5px;
    border-image:unset;
    border-width:0;
    border: 1px solid #ddd;
    transition: transform 1s;
}
 select{
        width:100%;
       margin: 0px 0px;
       padding: 10px;
        border-radius: 5px;
        border-color: #ddd;
    }

.usernme::-webkit-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-moz-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-o-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-ms-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 5px;
    border: none;
    border-radius: 5px;
}
input:focus::-webkit-input-placeholder {
  transform: translateY(-130%);
  font-size: .65em;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('images/calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
   padding: 0;
    margin: 0;
    
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rel{
        position: relative;
        width: 100%;
        
    }
    .submit{
        width: 50%!important;
        padding: 10px !important;
        border-radius: 10px;
        border-color:rgb(38,137,201);
        background-color:rgb(38,137,201);
        color: #fcfcfc;
        position: absolute;
        right: 30%;
      
    }

/*::-webkit-datetime-edit { ;}*/
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: transparent; }
@media only screen and (min-width:500px){
    .fom-vlu{
       /* border: 1px solid;*/
    }
    .dte{
    padding: 16px !important;
}
    .addres{
       width: 83% !important;
      
    }
  .frm-cnt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.frm-cnt input{
    margin: 10px 10px;
    width: 38%;
    padding: 20px;
    }
    select{
        width: 42%;
        margin: 10px 10px;
        padding: 17px;
        border-radius: 5px;
        border-color: #ddd;
    }
    
.usernme{
    padding: 10px ;
    border-radius: 5px;
    border-image:unset;
    border-width:0;
    border: 1px solid #ddd;
}
input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 5px;
    border: none;
    border-radius: 5px;
}  
    .p-txt{
        width: 30%;
        font-size: 14px;
    }
    .box{
        border: 1px solid #000;
      width:10% !important;
    }
    .yes,.no{
        position: relative;
        left: 10%;
    }
    
/*    sam*/
    .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*    sam*/
    .deta{
        width: 100% !important;
        padding:10px 60px;
    }
    .ares{
        width: 100% !important;
        margin:10px 60px !important;
        padding: 50px !important;
    }
    .cnfr{
        padding:10px 100px!important;
    }
/*    sam*/
    /* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 10px;
    left: 60px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark1 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark1 {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark1:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*    sam*/
    .rel{
        position: relative;
        width: 100%;
        
    }
    .submit{
        width: 15%!important;
        padding: 10px !important;
        border-radius: 10px;
        border-color:rgb(38,137,201);
        background-color:rgb(38,137,201);
        color: #fcfcfc;
        position: absolute;
        right: 40px;
      
    }
}

/*form-end*/