*{
    margin: 0;
    padding: 0;
 /*  border: 1px solid #000;*/
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
/*logo*/
.main-div{
    display: flex;
    
}
.logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-l{
    display: flex;
     flex-direction: column;
    align-items: center;
}
.logo-div img{
    width: 25%;
    padding-bottom: 10px;
}
.logo-div p{
    text-align: center;
}
@media only screen and (min-width:500px){
    .logo-div{
    display: flex;
    flex-direction: row;
        align-items: center;
        justify-content: center;
    
}
    .txt-p{
      display: flex;
        flex-direction: row;
    }
    .logo-div img{
    width: 15%;
    padding:0px 10px;
}
    .logo-txt p{
        font-size: 18px;
        font-weight: 500;
        text-align: left;
    }

}
@media only screen and (min-width:1000px){
    .logo-div img {
    width: 10%;
    }
}
/*logo-end*/
/*frmback*/
.back-blu{
    background: rgb(38,137,201);
    height: auto;
    padding: 10px;
}
.form-container{
    background: rgb(246,247,249);
    height: auto;
}
.frm-hd{
    padding: 10px 10px;
}
.frm-hd h4{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
.form-con{
    display:flex;
    flex-direction: column;
    
}
 input{
     width: 100%
}
.frm{
    /*border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.usernme{
    padding: 20px;
    border-radius: 5px;
    border-image:unset;
    border-width:0;
    border: 1px solid #ddd;
    transition: transform 1s;
}
 select{
       padding: 20px;
        border-radius: 5px;
        border-color: #ddd;
        width: 100%
    }

.usernme::-webkit-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-moz-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-o-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
.usernme::-ms-input-placeholder{
    transition: transform 0.5s, font-size 0.5s;
}
input:focus, textarea:focus, select:focus {
    outline-offset: -2px;
}

input:focus {
    outline: -webkit-focus-ring-color auto 5px;
    border: none;
    border-radius: 5px;
}
input:focus::-webkit-input-placeholder {
  transform: translateY(-130%);
  font-size: .65em;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('images/calendar.svg') no-repeat;
    width: 20px;
    height: 20px;
   padding: 0;
    margin: 0;
    
}
.submit{
        width: 50%!important;
        padding: 10px !important;
        border-radius: 10px;
        border-color:rgb(38,137,201);
        background-color:rgb(38,137,201);
        color: #fcfcfc;
    }
.ares{
    padding: 20px;
}
.footer{
    margin: 10px auto;
    padding: 10px;
     background: rgb(246,247,249);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.txt-1{
    text-align: center;
}
/*frmback*/
@media only screen and (min-width:600px){
    .form-con{
    display:flex;
    flex-direction: row;
    
}
 input{
     width: 100%
}
.frm{
    /*border: 1px solid;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
}