body{font-family: 'Slabo 27px', serif;background-color: white; }
.cam{width: 100%;height: 300px; position: relative;display: block;background-image: url(images/cam.jpg);background-repeat: no-repeat;background-size: cover;background-position: 0px -50px;margin-bottom: 50px;}

@media screen and (min-width:490px){
.cam{background-position: 0px -250px;}
}
@media screen and (min-width:700px){
.cam{background-position: 0px -250px;height: 500px;background-image: url(images/camdesk.jpg);background-position: 0px 0px;}
}
b{font-family: 'Ubuntu', sans-serif;}
.board{width: 250px; height: 200px;box-shadow: 15px 20px 50px 0px rgba(20, 20, 20, 0.2),-15px 20px 50px 0px rgba(20, 20, 20, 0.2);margin: auto;position: relative; bottom: 100px;z-index: 1px;background-color: #fcfcfc;padding-top: 25px;}
.board img{width: 200px;margin: auto;display: block;}
.board p{font-size: 20px;color: #454545;padding: 0px 5px;margin-top: 10px;text-align: center;}
.hpset{margin-bottom: 20px;}
.hpset h1{padding: 0px 10px;color: #343434; display: inline;font-family: 'Ubuntu', sans-serif;}
.hpset p{padding: 10px 10px;color: #454545;font-size: 20px}
.hset{width: 100px;border: 1px olid}
.hset div{width: 100%; height: 2px; background-color: #343434;}
.hset_req{width: 250px;}
.hset_out{width: 300px;}
.hset h1{font-size: 23px;}
.hset_test{width: 150px;}
.aruva{width: 150px; height: 150px;border-radius: 50%;overflow: hidden;margin: auto;margin-top: 20px;box-shadow: -1px -1px 3px 0px rgba(20,20,20,0.1);}
.aruva img{width: 100%;}

@media screen and (min-width:700px){
    
    .hpset{display: flex;margin: auto;width: 80%;margin-bottom: 30px;}
    .hset{display: flex;flex-direction: column;border: 1px olid;width: 300px;padding-top: 15px;}
    .hset h1{text-align: center;}
    .hset div{width: 250px;}
    .hset div{order: -1;}
    .aruva{display: flex;flex-direction: column;}
}