
/*  ----------------- /s:general things------------------*/

* {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
     -webkit-tap-highlight-color: transparent; /* For some Androids */
}
html{ height: 100%;}
body{background-color: #fcfcfc;}
body * { box-sizing: border-box;}
* h1,* h2{
font-family: 'Lato', sans-serif;}
* p{
    font-family: 'Roboto', sans-serif;}
body h1,body h2,body h3,body p {margin: 0px;color: #454545;}
a{text-decoration: none !important; color: #c2c2c2; }
body{margin: 0px; min-height: 100%; position: relative; padding-bottom: 100px;}

/*  ----------------- e:general things------------------*/




/*&& s:navigation bar &&*/

#nav_bar{width: 100%; height: 55px; background-color: #fcfcfc; box-shadow: 0px 0px 2px 1px hsla(0, 0%, 0%, 0.1);  z-index: 10; position: relative;transition: box-shadow 0.5s;}


/* s: mnav*/
#nav_line{ width: 35px; height: 35px; margin: 0px; padding: 0px; position: absolute; right: 20px; top: 13px;z-index: 8; }
.line{list-style: none; border: 2px solid #2d2d2d; margin: 5px 0px; position: relative; transition:  rotate 1s, top 1s, bottom 1s, opacity 0.4s; }
/*
.l1{transform: rotate(15deg);top: 9px;}
.l2{transform: rotate(15deg);}
.l3{transform: rotate(15deg);bottom: 9px;}*/

.main_menu{display: none;}
#inlogo{position: absolute; left:-1%;top: -10px }
#inlogo_m{border: 1px olid black; width: 55px; height: 55px; margin: auto; display: block; padding-top: 10px; box-sizing: content-box;  }

/* s: menu lines ani */
#nav_line{transform: rotate(00deg)}
.lopen1{animation-name: lt1;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lopen2{animation-name: lt2;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lopen3{animation-name: lt3;animation-duration: 0.7s;animation-fill-mode: forwards;}

.lclose1{animation-name: lct1;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lclose2{animation-name: lct2;animation-duration: 0.7s;animation-fill-mode: forwards;}
.lclose3{animation-name: lct3;animation-duration: 0.7s;animation-fill-mode: forwards;}
@keyframes lt1{
    0% {transform: rotate(0deg);top: 0px;}
    30%{transform: rotate(20deg);top: 9px;}
     100%{transform: rotate(315deg);top: 9px;}
}
@keyframes lt2{
    0% {transform: rotate(0deg);}
   30%{transform: rotate(20deg);}
     100%{transform: rotate(225deg);}
}
@keyframes lt3{
    0% {transform: rotate(0deg);bottom: 0px;}
   30%{transform: rotate(20deg);bottom: 9px;}
     100%{transform: rotate(225deg);bottom: 9px;}
}

@keyframes lct1{
    
     0%{transform: rotate(315deg);top: 9px;}
        70%{transform: rotate(20deg);top: 9px;}
    100% {transform: rotate(0deg);top: 0px;}    
}
@keyframes lct2{
    0%{transform: rotate(225deg);}    
    70%{transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
     
}
@keyframes lct3{
     00%{transform: rotate(225deg);bottom: 9px;}
     70%{transform: rotate(20deg);bottom: 9px;}
   100% {transform: rotate(0deg);bottom: 0px;}      
}

/* e: menu lines ani */
/*  && e:navigation bar &&*/
    
/* start: menu listing */
.menu_con{width: 100%; height:600px;; background-color: #fcfcfc;display: none;padding-top: 70px;position: fixed;z-index: 2;transition: transform 0.5s, opacity 0.5s;position: relative;overflow: hidden;}

.black_lay{width: 130%; height: 100%; background-color: #2d2d2d;position: absolute;left:100%;transition: left 1s;   z-index: 6; }


.mn img{width: 30px;position: relative; left:-8px;top: 3px;}
.mn,.pmn{font-size: 34px;color: #2d2d2d;font-family: sans-serif;display: block; margin-bottom: 20px;margin-left: 20px;letter-spacing: 2px;font-weight: 600; opacity: 1;position: relative;transition: color 0.3s;font-family: 'Ubuntu', sans-serif;}
.prod_menu{display: none;}
.pmn{font-size: 20px;font-weight: 500;margin-left: 40px;opacity: 1}
.phead{font-size: 34px; font-weight: 600;margin-left: 12px;}
.prodrow{display: flex;justify-content: flex-start
;align-items: center;border: 1px olid black}
.prodrow img{width: 25px;position: relative;top: 5px;left: -5px; }


.menu1:hover,.menu2:hover,.menu3:hover,.menu4:hover,.menu5:hover,.menu6:hover{color: #25C485;}


.a{transform: scale(1.05);}



/* end: menu listing */


.blackani{animation-name: za;animation-duration: 1.3s;animation-fill-mode: forwards;}

@keyframes za{
    from{left: 100%; }
    to{left: -130%; }
}

.dmn1,.dmn2,.dmn3,.dmn4,.dmn5,.dmn6{display: none;}

.b{transform: scale(1.05);}


@media screen and (min-width:640px){
    .dmn1,.dmn2,.dmn3,.dmn4,.dmn5,.dmn6{display: flex;}
    .hover_track{width: 120px; height:  40px; position: absolute;left: -0px;}
    .d_pmenu{width: 200px; height: auto; border: 1px solid #b5b5b5;background-color: #fcfcfc;position: absolute;border-radius: 20px;left: -30px; top: 30px;display: none;flex-direction: column;justify-content: center;align-items: center;padding-top:10px;padding-bottom:10px;}

     .dmn3:hover .d_pmenu{display: flex;}
    .dpmn{width: inherit;height: auto;  }
    .dpmn p{margin:3px auto;text-align: left;margin-left: 10px;}
    
    
    .dmenu_con{display: flex;justify-content: center;align-items: center;}
    .dmenu{border: 1px olid black;  height:auto;margin: auto 5px;font-size: 15px;position: relative;display: flex;justify-content: center;flex-direction: column;border: 1px olid black}
    
      .dmenu span{border-bottom: solid 2px #25C485;width: 0px;margin: auto;transition: width 0.5s;display: ;}
    .dmn1{width: 40px;}
     .dmn1:hover span{width: 40px;}
    .dmn2{width: 90px;}
     .dmn2:hover span{width: 80px;}
    .dmn3{width: 100px;}
     .dmn3:hover span{width: 90px;}
    .dmn4{width: 90px;}
     .dmn4:hover span{width: 80px;}
    .dmn5{width: 90px;}
     .dmn5:hover span{width: 80px;}
    .dmn6{width: 120px;}
     .dmn6:hover span{width: 110px;}
    .menu_con{display: none; }
    .dmenu img{width: 23px;border: 1px olid black; position: absolute;left: 82%;top: -3px}
    #inlogo{position: relative
    ;left:0%;top: 0px }
    #inlogo_m{  padding-top: 0px;  }
    #nav_line{display: none;}
   
    .dmenu div{margin: auto;}
  
   


}
@media screen and (min-width:830px){
  
    #inlogo{top: -2px }
#inlogo_m{width: 60px; height: 60px;padding-top: 0px}
    #nav_line{ top:16px}
    .dmenu{font-size: 18px;}
    .dmenu img{top: 0px;left: 85%;}
    .dmn1{width: 60px;}
     .dmn1:hover span{width: 60px;}
    .dmn2{width: 100px;}
     .dmn2:hover span{width: 100px;}
    .dmn3{width: 120px;}
     .dmn3:hover span{width: 110px;}
    .dmn4{width: 90px;}
     .dmn4:hover span{width: 90px;}
    .dmn5{width: 90px;}
     .dmn5:hover span{width: 90px;}
    .dmn6{width: 120px;}
     .dmn6:hover span{width: 120px;}
}

@media screen and (min-width:1030px){
       
    #nav_bar{height: 65px;}
        #inlogo{top: -4px }
#inlogo_m{width: 70px; height: 70px;padding-top: 2px;}
  
}



/*  ----------------- start:footer section------------------*/
    

.footer{width: 100%; height: 50px; position: absolute; bottom: 0px;background-color:#454545; }

.copyright p{color: #f9f9f9; text-align: center;}
.copyright{width: 100%; border: 1px olid black; position: absolute; bottom: 12px;width: 100%;padding-bottom: 3px}


@media screen and (min-width:500px){
    .
    .copyright{width:25%;}
    .copyright p{width: 100%; margin: auto;}
 
   
    body{padding-bottom: 100px;}
}


/*  ----------------- end:footer section------------------*/
